<div class="row">
    <div class="input-group">
        <h2 class="me-2 d-flex" th:text="#{infoAbout}+' '+${author?.name}"></h2>
        <div class="input-group-append">
            <button id="report-artist-bug" type="submit" class="btn btn-warning" data-toggle="tooltip"
                th:text="#{reportWrongArtistInfo}"></button>
        </div>
    </div>
</div>
<hr>
<div id="briefInfo">
    <span th:utext="${discoGSObj.profile}"></span>
</div>
<div id="socialLinks">
    <th:block th:if="${discoGSObj.uri}">
        <br>
        <b th:utext="#{moreInfo}"></b>
        <a target="_blank" class="a-external-music-link" th:href="${discoGSObj.uri}">
            <img class="img-responsive-author-info" th:src="@{/images/fullres/discogs_big.webp}">
        </a>
        <a target="_blank" class="a-external-music-link" th:if="${discoGSObj.wikipedia}"
            th:href="${discoGSObj.wikipedia}">
            <img class="img-responsive-author-info" th:src="@{/images/fullres/wikipedia_big.webp}">
        </a>
        <a target="_blank" class="a-external-music-link" th:if="${discoGSObj.facebook}"
            th:href="${discoGSObj.facebook}">
            <img class="img-responsive-author-info" th:src="@{/images/fullres/facebook_big.webp}">
        </a>
        <a target="_blank" class="a-external-music-link" th:if="${discoGSObj.twitter}" th:href="${discoGSObj.twitter}">
            <img class="img-responsive-author-info" th:src="@{/images/fullres/twitter_big.webp}">
        </a>
        <a target="_blank" class="a-external-music-link" th:if="${discoGSObj.instagram}"
            th:href="${discoGSObj.instagram}">
            <img class="img-responsive-author-info" th:src="@{/images/fullres/instagram_big.webp}">
        </a>
        <a target="_blank" class="a-external-music-link" th:if="${discoGSObj.soundcloud}"
            th:href="${discoGSObj.soundcloud}">
            <img class="img-responsive-author-info" th:src="@{/images/fullres/soundcloud_big.webp}">
        </a>
        <a target="_blank" class="a-external-music-link" th:if="${discoGSObj.myspace}" th:href="${discoGSObj.myspace}">
            <img class="img-responsive-author-info" th:src="@{/images/fullres/myspace_big.webp}">
        </a>
    </th:block>
</div>
<h5 th:text="#{allAliases}"></h5>
<th:block th:each="singleAlias,iter : ${allAliases}">
    <h6 class="d-inline" th:text="${singleAlias.alias}"></h6><span th:remove="tag"
        th:text="${!iter.last ? ', ' : ''}"></span>
</th:block>
<h5 th:text="#{associatedCountries}"></h5>
<th:block th:each="authorCountry : ${author?.authorCountries}">
    <a class="table_link" th:href="'/countryInfo/'+${authorCountry.country.id}">
        <img class="img-country img-responsive-row-icon" data-toggle="tooltip" data-placement="top"
            th:title="${authorCountry.country.countryName}" th:src="${authorCountry.country.countryLink}">
    </a>
</th:block>
<h4 th:text="#{songsAssociatedWith}+' '+ ${author?.name}"></h4>
<div class="form-group pb-2 pt-2">
    <span id="playlist_init" class="nfs-top-item p-2 d-inline-block pointable" data-bs-toggle="modal"
        data-bs-target="#playlistModeModal" th:text="#{launchPlaylist}"></span>
</div>
<div class="tabbable boxed parentTabs">
    <ul class="nav nav-tabs artistgroup">
        <li class="nav-item">
            <a class="nav-link artistgroup active" th:attr="data-authorcontribution='all'" data-toggle="tab"
                id="allartistgroup" th:text="#{all}" href="#"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link artistgroup" th:attr="data-authorcontribution='composer'" data-toggle="tab"
                th:text="#{composer}" href="#"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link artistgroup" th:attr="data-authorcontribution='subcomposer'" data-toggle="tab"
                th:text="#{subcomposer}" href="#"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link artistgroup" th:attr="data-authorcontribution='feat'" data-toggle="tab"
                th:text="#{featuring}" href="#"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link artistgroup" th:attr="data-authorcontribution='remix'" data-toggle="tab"
                th:text="#{remix}" href="#"></a>
        </li>
    </ul>
    <ul class="nav nav-tabs aliassubgroup">
        <li class="nav-item">
            <button class="nav-link aliassubgroup active"
                th:attr="id='allaliases', data-authoralias='all',data-aliassubgroupid='all'" href=""
                th:text="#{all}"></button>
        </li>
        <th:block th:each="singleAlias,iter : ${allAliases}">
            <li class="nav-item">
                <button class="nav-link aliassubgroup" th:attr="data-aliassubgroupid=${singleAlias.id}" href=""
                    th:text="${singleAlias.alias}"></button>
            </li>
        </th:block>
    </ul>
</div>

<table id="artistStuff" class="table table-hover table-striped playlist_table">
    <colgroup>
        <col class="contextButton" style="display:none;" />
        <col class="artist-info_button" />
        <col class="artist-subgroup" />
        <col class="artist-group" />
        <col class="artist-game" />
        <col class="artist-remix" />
        <col class="artist-instrumental" />
        <col class="artist-actions" />
    </colgroup>
    <thead>
        <tr>
            <th class="game_content_th contextButton no-sort" scope="col" style="display:none;"></th>
            <th scope="col" class="info_button"></th>
            <th scope="col" th:text="#{subgroup}"></th>
            <th scope="col" class="artist-group" th:text="#{group}"></th>
            <th scope="col" th:text="#{game}"></th>
            <th scope="col" th:text="#{remix}"></th>
            <th scope="col" th:text="#{instrumental}"></th>
            <th scope="col" class="artist-actions"></th>
        </tr>
    </thead>
    <tbody>
        <th:block th:each="mapEntry : ${songsAsComposer}">
            <tr class="all composer rolegroup-separator" th:attr="data-aliasid=${mapEntry.key.id},data-role='composer'">
                <td colspan="7" th:text="${mapEntry.key.alias}+' - '+#{composer}"></td>
            </tr>
            <th:block th:each="songToSongSubgroupMap : ${mapEntry.value}">
                <tr class="all subgroup-separator songgroup composer"
                    th:attr="data-aliasid=${mapEntry.key.id},data-role='composer',data-song_id=${songToSongSubgroupMap.key.id}">
                    <td class="info_button">
                        <img class="img-responsive-row-icon info-about-song pointable" data-toggle="tooltip"
                            data-placement="right" th:title="#{showInfo}" th:src="@{/images/fullres/info_big.webp}">
                    </td>
                    <td colspan="6">
                        <th:block
                            th:each="authorSong,iter : ${songToSongSubgroupMap.key.authorSongList.?[role.value=='COMPOSER']}">
                            <a class="table_link" th:href="'/author/'+${authorSong.authorAlias.author.id}"
                                th:text="${authorSong.authorAlias.alias} "></a>
                        </th:block>
                        <th:block
                            th:each="authorSong,iter : ${songToSongSubgroupMap.key.authorSongList.?[role.value=='SUBCOMPOSER']}">
                            <span
                                th:text="${authorSong.subcomposerConcat!=null} ? ' '+${authorSong.subcomposerConcat} : ''"></span>
                            <a class="table_link" th:href="'/author/'+${authorSong.authorAlias.id}"
                                th:text="${authorSong.authorAlias.alias}"></a>
                        </th:block>
                        <span>&nbsp;-</span>
                        <span th:text="${songToSongSubgroupMap.key.officialDisplayTitle} "></span>
                        <th:block
                            th:each="authorSong,iter : ${songToSongSubgroupMap.key.authorSongList.?[role.value=='FEAT']}">
                            <span th:text="${iter.first ? ' (feat. ' : ''}"></span>
                            <a class="table_link" th:href="'/author/'+${authorSong.authorAlias.id}"
                                th:text="${authorSong.authorAlias.alias}"></a><span
                                th:text="${iter.last ? ')' : ''}"></span>
                            <th:block th:if="${authorSong.featConcat!=null}">
                                <span th:text="${!iter.last ? ' '+authorSong.featConcat : ''}"></span>
                            </th:block>
                        </th:block>
                        <span>&nbsp;/</span>
                        <span th:text="#{associatedGenres}+' '"></span>
                        <th:block th:each="songGenre,iter : ${songToSongSubgroupMap.key.songGenreList}">
                            <a class="table_link" th:text="${songGenre.genre.genreName}"
                                th:href="'/genre/'+${songGenre.genre.id}"></a><span th:remove="tag"
                                th:text="${!iter.last ? ', ' : ''}"></span>
                        </th:block>
                    </td>
                </tr>
                <tr class="all composer" th:each="songSubgroup : ${songToSongSubgroupMap.value}"
                    th:attr="data-aliasid=${mapEntry.key.id},data-role='composer',data-songSubgroup-id=${songSubgroup.id},data-song_id=${songSubgroup.song.id}">
                    <td class="contextButton" style="display:none;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="5vw" height="9vw" fill="currentColor"
                            class="bi bi-three-dots-vertical context_menu_thing" viewBox="0 0 16 16">
                            <path
                                d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0" />
                        </svg>
                    </td>
                    <td class="info_button">
                        <img class="img-responsive-row-icon add-to-custom-playlist pointable" data-toggle="tooltip"
                            data-placement="right" th:title="#{addToPlaylist}"
                            th:src="@{/images/fullres/plus_big.webp}">
                    </td>
                    <td class="band" style="display: none" th:text="${songToSongSubgroupMap.key.officialDisplayBand}">
                    </td>
                    <td class="songtitle" style="display: none"
                        th:text="${songToSongSubgroupMap.key.officialDisplayTitle}">
                    </td>
                    <td th:text=${songSubgroup.subgroup.subgroupName}></td>
                    <td class="artist-group" th:text=${songSubgroup.subgroup.mainGroup.groupName}></td>
                    <td><a class="table_link" th:text="${songSubgroup.subgroup.mainGroup.game.displayTitle}"
                            th:href="'/game/'+${songSubgroup.subgroup.mainGroup.game.gameShort}"></a></td>
                    <td>
                        <span th:text="${songSubgroup.remix}"></span>
                        <br>
                        <th:block
                            th:each="authorSong,iter : ${songSubgroup.song.authorSongList.?[role.value=='REMIX']}">
                            <span th:text="${iter.first ? '(' : ''}"></span><a class="table_link"
                                th:href="'/author/'+${authorSong.authorAlias.id}"
                                th:text="${authorSong.authorAlias.alias}"></a>
                            <span th:text="${authorSong.remixConcat!=null} ? ${authorSong.remixConcat} : ''"></span>
                            <span th:text="${iter.last ? songSubgroup.remixText : ''}"></span>
                        </th:block>
                    </td>
                    <td th:text="${songSubgroup.instrumental}"></td>
                    <td>
                        <div class="play_icondiv" style="display: flex;">
                            <th:block th:if="${songSubgroup.srcId != null}">
                                <img class="play_icon img-responsive-row-icon pointable" data-bs-toggle="modal"
                                    data-bs-target="#videoModal"
                                    th:attr="data-tagVideo=${songSubgroup.srcId} ? 'https://www.youtube.com/embed/'+${songSubgroup.srcId} : 'https://www.youtube.com/embed/'+${songSubgroup.song.srcId}"
                                    th:src="@{/images/znakwodny.webp}">
                                <a class="table_link externalYT" target="_blank"
                                    th:href="'https://www.youtube.com/watch?v='+${songSubgroup.srcId}">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                        class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5" />
                                        <path fill-rule="evenodd"
                                            d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z" />
                                    </svg>
                                </a>
                            </th:block>
                            <textarea
                                th:utext="${songSubgroup.lyrics!=null} ? ${songSubgroup.lyrics} : ${songSubgroup.song.lyrics}"
                                hidden></textarea>
                            <th:block th:if="${songSubgroup.spotifyId != null}">
                                <a class="a-external-music-link spotify-link" th:href="${songSubgroup.spotifyId}">
                                    <img class="img-responsive-row-icon" th:src="@{/images/fullres/spotify_big.webp}"
                                        data-toggle="tooltip" data-placement="top" th:title="#{openInSpotify}">
                                </a>
                                <img class="img-responsive-row-icon 30-player pointable a-external-music-link"
                                    th:src="@{/images/fullres/play_with30.webp}" data-toggle="tooltip"
                                    data-placement="top" th:title="#{playSample}">
                                <img class="img-responsive-row-icon 30-player pointable a-external-music-link"
                                    th:src="@{/images/fullres/pause_with30.webp}" data-toggle="tooltip"
                                    data-placement="top" th:title="#{pauseSample}" style="display: none;">
                            </th:block>
                            <th:block th:if="${songSubgroup.deezerId != null}">
                                <a class="a-external-music-link deezer-link" th:href="${songSubgroup.deezerId}">
                                    <img class="img-responsive-row-icon" th:src="@{/images/fullres/deezer_big.webp}"
                                        data-toggle="tooltip" data-placement="top" th:title="#{openInDeezer}">
                                </a>
                            </th:block>
                            <th:block th:if="${songSubgroup.itunesLink != null}">
                                <a class="a-external-music-link itunes-link" th:href="${songSubgroup.itunesLink}">
                                    <img class="img-responsive-row-icon" th:src="@{/images/fullres/itunes_big.webp}"
                                        data-toggle="tooltip" data-placement="top" th:title="#{openInAppleMusic}">
                                </a>
                            </th:block>
                            <th:block th:if="${songSubgroup.tidalLink != null}">
                                <a class="a-external-music-link tidal-link" th:href="${songSubgroup.tidalLink}">
                                    <img class="img-responsive-row-icon" th:src="@{/images/fullres/tidal_big.webp}"
                                        data-toggle="tooltip" data-placement="top" th:title="#{openInTidal}">
                                </a>
                            </th:block>
                            <th:block th:if="${songSubgroup.soundcloudLink != null}">
                                <a class="a-external-music-link soundcloud-link"
                                    th:href="${songSubgroup.soundcloudLink}">
                                    <img class="img-responsive-row-icon" th:src="@{/images/fullres/soundcloud_big.webp}"
                                        data-toggle="tooltip" data-placement="top" th:title="#{openInSoundCloud}">
                                </a>
                            </th:block>
                        </div>
                    </td>
                </tr>
            </th:block>
        </th:block>
        <th:block th:each="mapEntry : ${songsAsSubcomposer}">
            <tr class="all subcomposer rolegroup-separator"
                th:attr="data-aliasid=${mapEntry.key.id},data-role='subcomposer'">
                <td colspan="7" th:text="${mapEntry.key.alias}+' - '+#{subcomposer}"></td>
            </tr>
            <th:block th:each="songToSongSubgroupMap : ${mapEntry.value}">
                <tr class="all subgroup-separator songgroup subcomposer"
                    th:attr="data-aliasid=${mapEntry.key.id},data-role='subcomposer',data-song_id=${songToSongSubgroupMap.key.id}">
                    <td class="info_button">
                        <img class="img-responsive-row-icon info-about-song pointable" data-toggle="tooltip"
                            data-placement="right" th:title="#{showInfo}" th:src="@{/images/fullres/info_big.webp}">
                    </td>
                    <td colspan="6">
                        <th:block
                            th:each="authorSong,iter : ${songToSongSubgroupMap.key.authorSongList.?[role.value=='COMPOSER']}">
                            <a class="table_link" th:href="'/author/'+${authorSong.authorAlias.author.id}"
                                th:text="${authorSong.authorAlias.alias} "></a>
                        </th:block>
                        <th:block
                            th:each="authorSong,iter : ${songToSongSubgroupMap.key.authorSongList.?[role.value=='SUBCOMPOSER']}">
                            <span
                                th:text="${authorSong.subcomposerConcat!=null} ? ' '+${authorSong.subcomposerConcat} : ''"></span>
                            <a class="table_link" th:href="'/author/'+${authorSong.authorAlias.id}"
                                th:text="${authorSong.authorAlias.alias}"></a>
                        </th:block>
                        <span>&nbsp;-</span>
                        <span th:text="${songToSongSubgroupMap.key.officialDisplayTitle} "></span>
                        <th:block
                            th:each="authorSong,iter : ${songToSongSubgroupMap.key.authorSongList.?[role.value=='FEAT']}">
                            <span th:text="${iter.first ? ' (feat. ' : ''}"></span>
                            <a class="table_link" th:href="'/author/'+${authorSong.authorAlias.id}"
                                th:text="${authorSong.authorAlias.alias}"></a><span
                                th:text="${iter.last ? ')' : ''}"></span>
                            <th:block th:if="${authorSong.featConcat!=null}">
                                <span th:text="${!iter.last ? ' '+authorSong.featConcat : ''}"></span>
                            </th:block>
                        </th:block>
                        <th:block th:each="songGenre,iter : ${songToSongSubgroupMap.key.songGenreList}">
                            <span>&nbsp;/</span>
                            <span th:text="#{associatedGenres}+' '"></span>
                            <a class="table_link" th:text="${songGenre.genre.genreName}"
                                th:href="'/genre/'+${songGenre.genre.id}"></a><span th:remove="tag"
                                th:text="${!iter.last ? ', ' : ''}"></span>
                        </th:block>
                    </td>
                </tr>
                <tr class="all subcomposer" th:each="songSubgroup : ${songToSongSubgroupMap.value}"
                    th:attr="data-aliasid=${mapEntry.key.id},data-role='subcomposer',data-songSubgroup-id=${songSubgroup.id},data-song_id=${songSubgroup.song.id}">
                    <td class="contextButton" style="display:none;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="5vw" height="9vw" fill="currentColor"
                            class="bi bi-three-dots-vertical context_menu_thing" viewBox="0 0 16 16">
                            <path
                                d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0" />
                        </svg>
                    </td>
                    <td class="info_button">
                        <img class="img-responsive-row-icon add-to-custom-playlist pointable" data-toggle="tooltip"
                            data-placement="right" th:title="#{addToPlaylist}"
                            th:src="@{/images/fullres/plus_big.webp}">
                    </td>
                    <td class="band" style="display: none" th:text="${songToSongSubgroupMap.key.officialDisplayBand}">
                    </td>
                    <td class="songtitle" style="display: none"
                        th:text="${songToSongSubgroupMap.key.officialDisplayTitle}">
                    </td>
                    <td th:text=${songSubgroup.subgroup.subgroupName}></td>
                    <td class="artist-group" th:text=${songSubgroup.subgroup.mainGroup.groupName}></td>
                    <td><a class="table_link" th:text="${songSubgroup.subgroup.mainGroup.game.displayTitle}"
                            th:href="'/game/'+${songSubgroup.subgroup.mainGroup.game.gameShort}"></a></td>
                    <td>
                        <span th:text="${songSubgroup.remix}"></span>
                        <br>
                        <th:block
                            th:each="authorSong,iter : ${songSubgroup.song.authorSongList.?[role.value=='REMIX']}">
                            <span th:text="${iter.first ? '(' : ''}"></span><a class="table_link"
                                th:href="'/author/'+${authorSong.authorAlias.id}"
                                th:text="${authorSong.authorAlias.alias}"></a>
                            <span th:text="${authorSong.remixConcat!=null} ? ${authorSong.remixConcat} : ''"></span>
                            <span th:text="${iter.last ? songSubgroup.remixText : ''}"></span>
                        </th:block>
                    </td>
                    <td th:text="${songSubgroup.instrumental}"></td>
                    <td>
                        <div class="play_icondiv">
                            <th:block th:if="${songSubgroup.srcId != null}">
                                <img class="play_icon img-responsive-row-icon pointable" data-bs-toggle="modal"
                                    data-bs-target="#videoModal"
                                    th:attr="data-tagVideo=${songSubgroup.srcId} ? 'https://www.youtube.com/embed/'+${songSubgroup.srcId} : 'https://www.youtube.com/embed/'+${songSubgroup.song.srcId}"
                                    th:src="@{/images/znakwodny.webp}">
                                <a class="table_link externalYT" target="_blank"
                                    th:href="'https://www.youtube.com/watch?v='+${songSubgroup.srcId}">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                        class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5" />
                                        <path fill-rule="evenodd"
                                            d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z" />
                                    </svg>
                                </a>
                            </th:block>
                            <textarea
                                th:utext="${songSubgroup.lyrics!=null} ? ${songSubgroup.lyrics} : ${songSubgroup.song.lyrics}"
                                hidden></textarea>
                            <th:block th:if="${songSubgroup.spotifyId != null}">
                                <a class="a-external-music-link spotify-link" th:href="${songSubgroup.spotifyId}">
                                    <img class="img-responsive-row-icon" th:src="@{/images/fullres/spotify_big.webp}"
                                        data-toggle="tooltip" data-placement="top" th:title="#{openInSpotify}">
                                </a>
                                <img class="img-responsive-row-icon 30-player pointable a-external-music-link"
                                    th:src="@{/images/fullres/play_with30.webp}" data-toggle="tooltip"
                                    data-placement="top" th:title="#{playSample}">
                                <img class="img-responsive-row-icon 30-player pointable a-external-music-link"
                                    th:src="@{/images/fullres/pause_with30.webp}" data-toggle="tooltip"
                                    data-placement="top" th:title="#{pauseSample}" style="display: none;">
                            </th:block>
                            <th:block th:if="${songSubgroup.deezerId != null}">
                                <a class="a-external-music-link deezer-link" th:href="${songSubgroup.deezerId}">
                                    <img class="img-responsive-row-icon" th:src="@{/images/fullres/deezer_big.webp}"
                                        data-toggle="tooltip" data-placement="top" th:title="#{openInDeezer}">
                                </a>
                            </th:block>
                            <th:block th:if="${songSubgroup.itunesLink != null}">
                                <a class="a-external-music-link itunes-link" th:href="${songSubgroup.itunesLink}">
                                    <img class="img-responsive-row-icon" th:src="@{/images/fullres/itunes_big.webp}"
                                        data-toggle="tooltip" data-placement="top" th:title="#{openInAppleMusic}">
                                </a>
                            </th:block>
                        </div>
                    </td>
                </tr>
            </th:block>
        </th:block>
        <th:block th:each="mapEntry : ${songsRemixed}">
            <tr class="all remix rolegroup-separator" th:attr="data-aliasid=${mapEntry.key.id},data-role='remix'">
                <td colspan="7" th:text="${mapEntry.key.alias}+' - '+#{remix}"></td>
            </tr>
            <th:block th:each="songToSongSubgroupMap : ${mapEntry.value}">
                <tr class="all subgroup-separator songgroup remix"
                    th:attr="data-aliasid=${mapEntry.key.id},data-role='remix',data-song_id=${songToSongSubgroupMap.key.id}">
                    <td class="info_button">
                        <img class="img-responsive-row-icon info-about-song pointable" data-toggle="tooltip"
                            data-placement="right" th:title="#{showInfo}" th:src="@{/images/fullres/info_big.webp}">
                    </td>
                    <td colspan="6">
                        <th:block
                            th:each="authorSong,iter : ${songToSongSubgroupMap.key.authorSongList.?[role.value=='COMPOSER']}">
                            <a class="table_link" th:href="'/author/'+${authorSong.authorAlias.author.id}"
                                th:text="${authorSong.authorAlias.alias} "></a>
                        </th:block>
                        <th:block
                            th:each="authorSong,iter : ${songToSongSubgroupMap.key.authorSongList.?[role.value=='SUBCOMPOSER']}">
                            <span
                                th:text="${authorSong.subcomposerConcat!=null} ? ' '+${authorSong.subcomposerConcat} : ''"></span>
                            <a class="table_link" th:href="'/author/'+${authorSong.authorAlias.id}"
                                th:text="${authorSong.authorAlias.alias}"></a>
                        </th:block>
                        <span>&nbsp;-</span>
                        <span th:text="${songToSongSubgroupMap.key.officialDisplayTitle} "></span>
                        <th:block
                            th:each="authorSong,iter : ${songToSongSubgroupMap.key.authorSongList.?[role.value=='FEAT']}">
                            <span th:text="${iter.first ? ' (feat. ' : ''}"></span>
                            <a class="table_link" th:href="'/author/'+${authorSong.authorAlias.id}"
                                th:text="${authorSong.authorAlias.alias}"></a><span
                                th:text="${iter.last ? ')' : ''}"></span>
                            <th:block th:if="${authorSong.featConcat!=null}">
                                <span th:text="${!iter.last ? ' '+authorSong.featConcat : ''}"></span>
                            </th:block>
                        </th:block>
                        <th:block th:each="songGenre,iter : ${songToSongSubgroupMap.key.songGenreList}">
                            <span>&nbsp;/</span>
                            <span th:text="#{associatedGenres}+' '"></span>
                            <a class="table_link" th:text="${songGenre.genre.genreName}"
                                th:href="'/genre/'+${songGenre.genre.id}"></a><span th:remove="tag"
                                th:text="${!iter.last ? ', ' : ''}"></span>
                        </th:block>
                    </td>
                </tr>
                <tr class="all remix" th:each="songSubgroup : ${songToSongSubgroupMap.value}"
                    th:attr="data-aliasid=${mapEntry.key.id},data-role='remix',data-songSubgroup-id=${songSubgroup.id},data-song_id=${songSubgroup.song.id}">
                    <td class="contextButton" style="display:none;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="5vw" height="9vw" fill="currentColor"
                            class="bi bi-three-dots-vertical context_menu_thing" viewBox="0 0 16 16">
                            <path
                                d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0" />
                        </svg>
                    </td>
                    <td class="info_button">
                        <img class="img-responsive-row-icon add-to-custom-playlist pointable" data-toggle="tooltip"
                            data-placement="right" th:title="#{addToPlaylist}"
                            th:src="@{/images/fullres/plus_big.webp}">
                    </td>
                    <td class="band" style="display: none" th:text="${songToSongSubgroupMap.key.officialDisplayBand}">
                    </td>
                    <td class="songtitle" style="display: none"
                        th:text="${songToSongSubgroupMap.key.officialDisplayTitle}">
                    </td>
                    <td th:text=${songSubgroup.subgroup.subgroupName}></td>
                    <td class="artist-group" th:text=${songSubgroup.subgroup.mainGroup.groupName}></td>
                    <td><a class="table_link" th:text="${songSubgroup.subgroup.mainGroup.game.displayTitle}"
                            th:href="'/game/'+${songSubgroup.subgroup.mainGroup.game.gameShort}"></a></td>
                    <td>
                        <span th:text="${songSubgroup.remix}"></span>
                        <br>
                        <th:block
                            th:each="authorSong,iter : ${songSubgroup.song.authorSongList.?[role.value=='REMIX']}">
                            <span th:text="${iter.first ? '(' : ''}"></span><a class="table_link"
                                th:href="'/author/'+${authorSong.authorAlias.id}"
                                th:text="${authorSong.authorAlias.alias}"></a>
                            <span th:text="${authorSong.remixConcat!=null} ? ${authorSong.remixConcat} : ''"></span>
                            <span th:text="${iter.last ? songSubgroup.remixText : ''}"></span>
                        </th:block>
                    </td>
                    <td th:text="${songSubgroup.instrumental}"></td>
                    <td>
                        <div class="play_icondiv">
                            <th:block th:if="${songSubgroup.srcId != null}">
                                <img class="play_icon img-responsive-row-icon pointable" data-bs-toggle="modal"
                                    data-bs-target="#videoModal"
                                    th:attr="data-tagVideo=${songSubgroup.srcId} ? 'https://www.youtube.com/embed/'+${songSubgroup.srcId} : 'https://www.youtube.com/embed/'+${songSubgroup.song.srcId}"
                                    th:src="@{/images/znakwodny.webp}">
                                <a class="table_link externalYT" target="_blank"
                                    th:href="'https://www.youtube.com/watch?v='+${songSubgroup.srcId}">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                        class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5" />
                                        <path fill-rule="evenodd"
                                            d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z" />
                                    </svg>
                                </a>
                            </th:block>
                            <textarea
                                th:utext="${songSubgroup.lyrics!=null} ? ${songSubgroup.lyrics} : ${songSubgroup.song.lyrics}"
                                hidden></textarea>
                            <th:block th:if="${songSubgroup.spotifyId != null}">
                                <a class="a-external-music-link spotify-link" th:href="${songSubgroup.spotifyId}">
                                    <img class="img-responsive-row-icon" th:src="@{/images/fullres/spotify_big.webp}"
                                        data-toggle="tooltip" data-placement="top" th:title="#{openInSpotify}">
                                </a>
                                <img class="img-responsive-row-icon 30-player pointable a-external-music-link"
                                    th:src="@{/images/fullres/play_with30.webp}" data-toggle="tooltip"
                                    data-placement="top" th:title="#{playSample}">
                                <img class="img-responsive-row-icon 30-player pointable a-external-music-link"
                                    th:src="@{/images/fullres/pause_with30.webp}" data-toggle="tooltip"
                                    data-placement="top" th:title="#{pauseSample}" style="display: none;">
                            </th:block>
                            <th:block th:if="${songSubgroup.deezerId != null}">
                                <a class="a-external-music-link deezer-link" th:href="${songSubgroup.deezerId}">
                                    <img class="img-responsive-row-icon" th:src="@{/images/fullres/deezer_big.webp}"
                                        data-toggle="tooltip" data-placement="top" th:title="#{openInDeezer}">
                                </a>
                            </th:block>
                            <th:block th:if="${songSubgroup.itunesLink != null}">
                                <a class="a-external-music-link itunes-link" th:href="${songSubgroup.itunesLink}">
                                    <img class="img-responsive-row-icon" th:src="@{/images/fullres/itunes_big.webp}"
                                        data-toggle="tooltip" data-placement="top" th:title="#{openInAppleMusic}">
                                </a>
                            </th:block>
                        </div>
                    </td>
                </tr>
            </th:block>
        </th:block>
        <th:block th:each="mapEntry : ${songsAsFeat}">
            <tr class="all feat rolegroup-separator" th:attr="data-aliasid=${mapEntry.key.id},data-role='feat'">
                <td colspan="7" th:text="${mapEntry.key.alias}+' - '+#{featuring}"></td>
            </tr>
            <th:block th:each="songToSongSubgroupMap : ${mapEntry.value}">
                <tr class="all subgroup-separator songgroup feat"
                    th:attr="data-aliasid=${mapEntry.key.id},data-role='feat',data-song_id=${songToSongSubgroupMap.key.id}">
                    <td class="info_button">
                        <img class="img-responsive-row-icon info-about-song pointable" data-toggle="tooltip"
                            data-placement="right" th:title="#{showInfo}" th:src="@{/images/fullres/info_big.webp}">
                    </td>
                    <td colspan="6">
                        <th:block
                            th:each="authorSong,iter : ${songToSongSubgroupMap.key.authorSongList.?[role.value=='COMPOSER']}">
                            <a class="table_link" th:href="'/author/'+${authorSong.authorAlias.author.id}"
                                th:text="${authorSong.authorAlias.alias} "></a>
                        </th:block>
                        <th:block
                            th:each="authorSong,iter : ${songToSongSubgroupMap.key.authorSongList.?[role.value=='SUBCOMPOSER']}">
                            <span
                                th:text="${authorSong.subcomposerConcat!=null} ? ' '+${authorSong.subcomposerConcat} : ''"></span>
                            <a class="table_link" th:href="'/author/'+${authorSong.authorAlias.id}"
                                th:text="${authorSong.authorAlias.alias}"></a>
                        </th:block>
                        <span>&nbsp;-</span>
                        <span th:text="${songToSongSubgroupMap.key.officialDisplayTitle} "></span>
                        <th:block
                            th:each="authorSong,iter : ${songToSongSubgroupMap.key.authorSongList.?[role.value=='FEAT']}">
                            <span th:text="${iter.first ? ' (feat. ' : ''}"></span>
                            <a class="table_link" th:href="'/author/'+${authorSong.authorAlias.id}"
                                th:text="${authorSong.authorAlias.alias}"></a><span
                                th:text="${iter.last ? ')' : ''}"></span>
                            <th:block th:if="${authorSong.featConcat!=null}">
                                <span th:text="${!iter.last ? ' '+authorSong.featConcat : ''}"></span>
                            </th:block>
                        </th:block>
                        <th:block th:each="songGenre,iter : ${songToSongSubgroupMap.key.songGenreList}">
                            <span>&nbsp;/</span>
                            <span th:text="#{associatedGenres}+' '"></span>
                            <a class="table_link" th:text="${songGenre.genre.genreName}"
                                th:href="'/genre/'+${songGenre.genre.id}"></a><span th:remove="tag"
                                th:text="${!iter.last ? ', ' : ''}"></span>
                        </th:block>
                    </td>
                </tr>
                <tr class="all feat" th:each="songSubgroup : ${songToSongSubgroupMap.value}"
                    th:attr="data-aliasid=${mapEntry.key.id},data-role='feat',data-songSubgroup-id=${songSubgroup.id},data-song_id=${songSubgroup.song.id}">
                    <td class="contextButton" style="display:none;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="5vw" height="9vw" fill="currentColor"
                            class="bi bi-three-dots-vertical context_menu_thing" viewBox="0 0 16 16">
                            <path
                                d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0" />
                        </svg>
                    </td>
                    <td class="info_button">
                        <img class="img-responsive-row-icon add-to-custom-playlist pointable" data-toggle="tooltip"
                            data-placement="right" th:title="#{addToPlaylist}"
                            th:src="@{/images/fullres/plus_big.webp}">
                    </td>
                    <td class="band" style="display: none" th:text="${songToSongSubgroupMap.key.officialDisplayBand}">
                    </td>
                    <td class="songtitle" style="display: none"
                        th:text="${songToSongSubgroupMap.key.officialDisplayTitle}">
                    </td>
                    <td th:text=${songSubgroup.subgroup.subgroupName}></td>
                    <td class="artist-group" th:text=${songSubgroup.subgroup.mainGroup.groupName}></td>
                    <td><a class="table_link" th:text="${songSubgroup.subgroup.mainGroup.game.displayTitle}"
                            th:href="'/game/'+${songSubgroup.subgroup.mainGroup.game.gameShort}"></a></td>
                    <td>
                        <span th:text="${songSubgroup.remix}"></span>
                        <br>
                        <th:block
                            th:each="authorSong,iter : ${songSubgroup.song.authorSongList.?[role.value=='REMIX']}">
                            <span th:text="${iter.first ? '(' : ''}"></span><a class="table_link"
                                th:href="'/author/'+${authorSong.authorAlias.id}"
                                th:text="${authorSong.authorAlias.alias}"></a>
                            <span th:text="${authorSong.remixConcat!=null} ? ${authorSong.remixConcat} : ''"></span>
                            <span th:text="${iter.last ? songSubgroup.remixText : ''}"></span>
                        </th:block>
                    </td>
                    <td th:text="${songSubgroup.instrumental}"></td>
                    <td>
                        <div class="play_icondiv">
                            <th:block th:if="${songSubgroup.srcId != null}">
                                <img class="play_icon img-responsive-row-icon pointable" data-bs-toggle="modal"
                                    data-bs-target="#videoModal"
                                    th:attr="data-tagVideo=${songSubgroup.srcId} ? 'https://www.youtube.com/embed/'+${songSubgroup.srcId} : 'https://www.youtube.com/embed/'+${songSubgroup.song.srcId}"
                                    th:src="@{/images/znakwodny.webp}">
                                <a class="table_link externalYT" target="_blank"
                                    th:href="'https://www.youtube.com/watch?v='+${songSubgroup.srcId}">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                        class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5" />
                                        <path fill-rule="evenodd"
                                            d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z" />
                                    </svg>
                                </a>
                            </th:block>
                            <textarea
                                th:utext="${songSubgroup.lyrics!=null} ? ${songSubgroup.lyrics} : ${songSubgroup.song.lyrics}"
                                hidden></textarea>
                            <th:block th:if="${songSubgroup.spotifyId != null}">
                                <a class="a-external-music-link spotify-link" th:href="${songSubgroup.spotifyId}">
                                    <img class="img-responsive-row-icon" th:src="@{/images/fullres/spotify_big.webp}"
                                        data-toggle="tooltip" data-placement="top" th:title="#{openInSpotify}">
                                </a>
                                <img class="img-responsive-row-icon 30-player pointable a-external-music-link"
                                    th:src="@{/images/fullres/play_with30.webp}" data-toggle="tooltip"
                                    data-placement="top" th:title="#{playSample}">
                                <img class="img-responsive-row-icon 30-player pointable a-external-music-link"
                                    th:src="@{/images/fullres/pause_with30.webp}" data-toggle="tooltip"
                                    data-placement="top" th:title="#{pauseSample}" style="display: none;">
                            </th:block>
                            <th:block th:if="${songSubgroup.deezerId != null}">
                                <a class="a-external-music-link deezer-link" th:href="${songSubgroup.deezerId}">
                                    <img class="img-responsive-row-icon" th:src="@{/images/fullres/deezer_big.webp}"
                                        data-toggle="tooltip" data-placement="top" th:title="#{openInDeezer}">
                                </a>
                            </th:block>
                            <th:block th:if="${songSubgroup.itunesLink != null}">
                                <a class="a-external-music-link itunes-link" th:href="${songSubgroup.itunesLink}">
                                    <img class="img-responsive-row-icon" th:src="@{/images/fullres/itunes_big.webp}"
                                        data-toggle="tooltip" data-placement="top" th:title="#{openInAppleMusic}">
                                </a>
                            </th:block>
                        </div>
                    </td>
                </tr>
            </th:block>
        </th:block>
    </tbody>
</table>
<th:block th:insert="~{fragments/ytVideoModal.html}"></th:block>
<th:block th:insert="~{fragments/playlistModal.html}"></th:block>
<th:block th:insert="~{fragments/songInfoModal.html}"></th:block>
<th:block th:insert="~{fragments/mobileAdditionalDisplay.html}"></th:block>
<script th:src="@{/js/artist.js}" type="application/javascript"></script>