<h3 class="genre-h3" th:text="#{songsWithGenre}+' '+${genre?.genreName}"></h3>
<th:block th:if="${#lists.size(songSubgroupList)>=50 and readFull!=null}">
    <h5 class="genre-h5" th:text="#{listOfSongsOver50}"></h5>
    <a class="genreLink" th:href="@{/genre/readfull/{genreid}(genreid=${genre.id})}" th:text="#{seeFullGenreList}"></a>
    <br>
</th:block>
<div class="form-group pb-2 pt-2">
    <span id="playlist_init" class="nfs-top-item p-2 d-inline-block" style="cursor:pointer;" data-bs-toggle="modal"
        data-bs-target="#playlistModeModal" th:text="#{launchPlaylist}"></span>
</div>
<table id="genreTable" class="table table-hover table-striped playlist_table">
    <colgroup>
        <col class="genre-id"/>
        <col class="genre-info_button"/>
        <col class="genre-band"/>
        <col class="genre-songtitle"/>
        <col class="genre-subgroup"/>
        <col class="genre-group"/>
        <col class="genre-game"/>
        <col class="genre-actions"/>
    </colgroup>
    <thead><tr>
        <th class="game_content_th" scope="col" th:text="#{id}"></th>
        <th class="game_content_th no-sort"></th>
        <th class="game_content_th" scope="col" th:text="#{band}"></th>
        <th class="game_content_th" scope="col" th:text="#{song}"></th>
        <th class="game_content_th" scope="col" th:text="#{subgroup}"></th>
        <th class="game_content_th" scope="col" th:text="#{group}"></th>
        <th class="game_content_th" scope="col" th:text="#{game}"></th>
        <th class="game_content_th no-sort"></th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="songSubgroup, iter1 : ${songSubgroupList}"
            th:attr="data-el_id='songSubgroup'+${songSubgroup.subgroup.id},data-song_id=${songSubgroup.song.id},data-songSubgroup-id=${songSubgroup.id}">
            <td th:text="${iter1.count}"></td>
            <td class="info_button">
                <img class="img-responsive add-to-custom-playlist" data-toggle="tooltip" data-placement="right" th:title="#{addToPlaylist}" th:src="@{/images/plus.png}">
                <img class="img-responsive info-about-song" data-toggle="tooltip" data-placement="right" th:title="#{showInfo}" th:src="@{/images/info.png}">
            </td>
            <th:block th:each="authorSong,iter : ${songSubgroup.song.authorSongList}">
                <th:block th:if="${authorSong.role.value!='REMIX'} and ${authorSong.role.value!='FEAT'}">
                    <td class="band">
                        <a class="table_link" th:href="'/author/'+${authorSong.authorAlias.id}"
                            th:text="${songSubgroup.ingameDisplayBand} ? ${songSubgroup.ingameDisplayBand} : ${authorSong.authorAlias.alias} "></a>
                    </td>
                </th:block>
            </th:block>
            <td class="songtitle">
                <span
                    th:text="${songSubgroup.ingameDisplayTitle!=null} ? ${songSubgroup.ingameDisplayTitle} : ${songSubgroup.song.officialDisplayTitle} "></span>
                <th:block th:each="authorSong,iter : ${songSubgroup.song.authorSongList.?[role.value=='FEAT']}">
                    <span th:text="${iter.first ? '(feat. ' : ''}"></span>
                    <a class="table_link" th:href="'/author/'+${authorSong.authorAlias.id}"
                        th:text="${authorSong.authorAlias.alias}"></a><span th:text="${iter.last ? ')' : ''}"></span>
                    <th:block th:if="${authorSong.featConcat!=null}">
                        <span th:text="${!iter.last ? authorSong.featConcat : ''}"></span>
                    </th:block>
                </th:block>
                <th:block th:if="${songSubgroup.remix.value=='YES'}">
                    <th:block th:each="authorSong,iter : ${songSubgroup.song.authorSongList.?[role.value=='REMIX']}">
                        <span th:text="${iter.first ? '(' : ''}"></span><a class="table_link"
                            th:href="'/author/'+${authorSong.authorAlias.id}"
                            th:text="${authorSong.authorAlias.alias}"></a>
                        <span th:text="${authorSong.remixConcat!=null} ? ${authorSong.remixConcat} : ''"></span>
                        <span th:text="${iter.last ? ' Remix)' : ''}"></span>
                    </th:block>
                </th:block>
            </td>
            <td th:text="${songSubgroup.subgroup.subgroupName}"></td>
            <td th:text="${songSubgroup.subgroup.mainGroup.groupName}"></td>
            <td><a class="table_link" th:text="${songSubgroup.subgroup.mainGroup.game.displayTitle}"
                    th:href="'/game/'+${songSubgroup.subgroup.mainGroup.game.gameShort}"></a></td>
            <td>
                <div class="play_icondiv">
                    <img class="play_icon img-responsive" data-bs-toggle="modal" data-bs-target="#videoModal"
                        th:attr="data-tagVideo=${songSubgroup.srcId} ? 'https://www.youtube.com/embed/'+${songSubgroup.srcId} : 'https://www.youtube.com/embed/'+${songSubgroup.song.srcId}"
                        th:src="@{/images/znakwodny.png}" width="25" height="25">
                    <textarea th:text="${songSubgroup.lyrics}" hidden></textarea>
                    <th:block th:if="${songSubgroup.spotifyId != null}">
                        <a th:href="${songSubgroup.spotifyId}" style="text-decoration:none;">
                            <img class="img-responsive" th:src="@{/images/spotify.png}" width="25" height="25">
                        </a>
                    </th:block>
                    <th:block th:if="${songSubgroup.deezerId != null}">
                        <a th:href="${songSubgroup.deezerId}" style="text-decoration:none;">
                            <img class="img-responsive" th:src="@{/images/deezer.png}" width="25" height="25">
                        </a>
                    </th:block>
                    <th:block th:if="${songSubgroup.itunesLink != null}">
                        <a th:href="${songSubgroup.itunesLink}" style="text-decoration:none;">
                            <img class="img-responsive" th:src="@{/images/itunes2.png}" width="25" height="25">
                        </a>
                    </th:block>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<div class="modal fade" id="playlistModeModal" role="dialog" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 th:text="#{playlistMode}"></h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div id="playlistModePlayer" class="ratio ratio-16x9">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <table class="table table-bordered table-hover table-sm" id="playlist_progress"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="~{fragments/songInfoModal.html}"></th:block>
<script th:src="@{/js/genre.js}" type="application/javascript"></script>