<h2 th:text="#{songsWithGenre}+' '+${genre?.genreName}"></h2>
<th:block th:if="${#lists.size(songSubgroupList)>=50 and readFull!=null}">
    <h5 th:text="#{listOfSongsOver50}"></h5>
    <a class="table_link" th:href="@{/genre/readfull/{genreid}(genreid=${genre.id})}" th:text="#{seeFullGenreList}"></a>
    <br>
</th:block>
<div class="form-group pb-2 pt-2" style="text-align: center;">
    <span id="playlist_init" class="nfs-top-item p-2 d-inline-block pointable" data-bs-toggle="modal"
        data-bs-target="#playlistModeModal" th:text="#{launchPlaylist}"></span>
</div>
<table id="genreTable" class="table table-hover table-striped playlist_table sortable-table">
    <colgroup>
        <col class="contextButton" style="display:none;" />
        <col class="genre-id" />
        <col class="genre-info_button" />
        <col class="genre-band" />
        <col class="genre-songtitle" />
        <col class="genre-subgroup" />
        <col class="genre-group" />
        <col class="genre-game" />
        <col class="genre-actions" />
    </colgroup>
    <thead>
        <tr>
            <th class="game_content_th no-sort contextButton" scope="col" style="display:none;"></th>
            <th class="game_content_th id" scope="col" th:text="#{id}"></th>
            <th class="game_content_th info_button no-sort"></th>
            <th class="game_content_th" scope="col" th:text="#{band}"></th>
            <th class="game_content_th" scope="col" th:text="#{song}"></th>
            <th class="game_content_th" scope="col" th:text="#{subgroup}"></th>
            <th class="game_content_th genre-group" scope="col" th:text="#{group}"></th>
            <th class="game_content_th" scope="col" th:text="#{game}"></th>
            <th class="game_content_th no-sort"></th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="songSubgroup, iter1 : ${songSubgroupList}"
            th:attr="data-el_id='songSubgroup'+${songSubgroup.subgroup.id},data-song_id=${songSubgroup.song.id},data-songSubgroup-id=${songSubgroup.id}">
            <td class="contextButton" style="display:none;">
                <svg xmlns="http://www.w3.org/2000/svg" width="5vw" height="9vw" fill="currentColor"
                    class="bi bi-three-dots-vertical context_menu_thing" viewBox="0 0 16 16">
                    <path
                        d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0" />
                </svg>
            </td>
            <td th:text="${iter1.count}"></td>
            <td class="info_button">
                <img class="img-responsive-row-icon add-to-custom-playlist pointable" data-toggle="tooltip"
                    data-placement="right" th:title="#{addToPlaylist}" th:src="@{/images/fullres/plus_big.webp}">
                <img class="img-responsive-row-icon info-about-song pointable" data-toggle="tooltip"
                    data-placement="right" th:title="#{showInfo}" th:src="@{/images/fullres/info_big.webp}">
            </td>
            <td class="band">
                <th:block
                        th:each="authorSong,iter : ${songSubgroup.song.authorSongList.?[role.value=='COMPOSER']}">
                    <a class="table_link" th:href="'/author/'+${authorSong.authorAlias.author.id}"
                       th:text="${songSubgroup.ingameDisplayBand!=null} ? ${songSubgroup.ingameDisplayBand} : ${authorSong.authorAlias.alias} "></a>
                </th:block>
                <th:block th:if="${songSubgroup.showSubcomposer}">
                    <th:block
                            th:each="authorSong,iter : ${songSubgroup.song.authorSongList.?[role.value=='SUBCOMPOSER']}">
                                            <span
                                                    th:text="${authorSong.subcomposerConcat!=null} ? ' '+${authorSong.subcomposerConcat} : ''"></span>
                        <a class="table_link"
                           th:href="'/author/'+${authorSong.authorAlias.author.id}"
                           th:text="${authorSong.authorAlias.alias}"></a>
                    </th:block>
                </th:block>
                <th:block th:if="${songSubgroup.showFeat}">
                    <th:block th:if="${songSubgroup.song.featNextToBand}">
                        <th:block
                                th:each="authorSong,iter : ${songSubgroup.song.authorSongList.?[role.value=='FEAT']}">
                            <span th:text="${iter.first ? 'feat. ' : ''}"></span>
                            <a class="table_link"
                               th:href="'/author/'+${authorSong.authorAlias.author.id}"
                               th:text="${authorSong.authorAlias.alias}"></a>
                            <th:block th:if="${authorSong.featConcat!=null}">
                                <span th:text="${!iter.last ? ' '+authorSong.featConcat : ''}"></span>
                            </th:block>
                        </th:block>
                    </th:block>
                </th:block>
            </td>
            <td class="songtitle">
                <span
                    th:text="${songSubgroup.ingameDisplayTitle!=null} ? ${songSubgroup.ingameDisplayTitle} : ${songSubgroup.song.officialDisplayTitle} "></span>
                <th:block th:if="${songSubgroup.showFeat}">
                    <th:block th:each="authorSong,iter : ${songSubgroup.song.authorSongList.?[role.value=='FEAT']}">
                        <span th:text="${iter.first ? ' (feat. ' : ''}"></span>
                        <a class="table_link" th:href="'/author/'+${authorSong.authorAlias.id}"
                            th:text="${authorSong.authorAlias.alias}"></a><span
                            th:text="${iter.last ? ')' : ''}"></span>
                        <th:block th:if="${authorSong.featConcat!=null}">
                            <span th:text="${!iter.last ? ' '+authorSong.featConcat : ''}"></span>
                        </th:block>
                    </th:block>
                </th:block>
                <th:block th:if="${songSubgroup.remix.value=='YES'}">
                    <th:block th:each="authorSong,iter : ${songSubgroup.song.authorSongList.?[role.value=='REMIX']}">
                        <span th:text="${iter.first ? '(' : ''}"></span><a class="table_link"
                            th:href="'/author/'+${authorSong.authorAlias.id}"
                            th:text="${authorSong.authorAlias.alias}"></a>
                        <span th:text="${authorSong.remixConcat!=null} ? ${authorSong.remixConcat} : ''"></span>
                        <span th:text="${iter.last ? songSubgroup.remixText : ''}"></span>
                    </th:block>
                </th:block>
            </td>
            <td th:text="${songSubgroup.subgroup.subgroupName}"></td>
            <td class="genre-group" th:text="${songSubgroup.subgroup.mainGroup.groupName}"></td>
            <td><a class="table_link" th:text="${songSubgroup.subgroup.mainGroup.game.displayTitle}"
                    th:href="'/game/'+${songSubgroup.subgroup.mainGroup.game.gameShort}"></a></td>
            <td>
                <div class="play_icondiv">
                    <th:block th:if="${songSubgroup.srcId != null}">
                        <img class="play_icon img-responsive-row-icon pointable" data-bs-toggle="modal"
                            data-bs-target="#videoModal"
                            th:attr="data-tagVideo=${songSubgroup.srcId} ? 'https://www.youtube.com/embed/'+${songSubgroup.srcId} : 'https://www.youtube.com/embed/'+${songSubgroup.song.srcId}"
                            th:src="@{/images/znakwodny.webp}">
                        <a class="table_link externalYT" target="_blank"
                            th:href="'https://www.youtube.com/watch?v='+${songSubgroup.srcId}">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-box-arrow-up-right"
                                viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5" />
                                <path fill-rule="evenodd"
                                    d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z" />
                            </svg>
                        </a>
                    </th:block>
                    <textarea th:utext="${songSubgroup.lyrics!=null} ? ${songSubgroup.lyrics} : ${songSubgroup.song.lyrics}" hidden></textarea>
                    <th:block th:if="${songSubgroup.spotifyId != null}">
                        <a class="a-external-music-link spotify-link" th:href="${songSubgroup.spotifyId}">
                            <img class="img-responsive-row-icon" th:src="@{/images/fullres/spotify_big.webp}"
                                data-toggle="tooltip" data-placement="top" th:title="#{openInSpotify}">
                        </a>
                        <img class="img-responsive-row-icon 30-player pointable a-external-music-link"
                             th:src="@{/images/fullres/play_with30.webp}" data-toggle="tooltip"
                             data-placement="top" th:title="#{playSample}">
                        <img class="img-responsive-row-icon 30-player pointable a-external-music-link"
                             th:src="@{/images/fullres/pause_with30.webp}" data-toggle="tooltip"
                             data-placement="top" th:title="#{pauseSample}" style="display: none;">
                    </th:block>
                    <th:block th:if="${songSubgroup.deezerId != null}">
                        <a class="a-external-music-link deezer-link" th:href="${songSubgroup.deezerId}">
                            <img class="img-responsive-row-icon" th:src="@{/images/fullres/deezer_big.webp}"
                                data-toggle="tooltip" data-placement="top" th:title="#{openInDeezer}">
                        </a>
                    </th:block>
                    <th:block th:if="${songSubgroup.itunesLink != null}">
                        <a class="a-external-music-link itunes-link" th:href="${songSubgroup.itunesLink}">
                            <img class="img-responsive-row-icon" th:src="@{/images/fullres/itunes_big.webp}"
                                data-toggle="tooltip" data-placement="top" th:title="#{openInAppleMusic}">
                        </a>
                    </th:block>
                    <th:block th:if="${songSubgroup.tidalLink != null}">
                        <a class="a-external-music-link tidal-link" th:href="${songSubgroup.tidalLink}">
                            <img class="img-responsive-row-icon" th:src="@{/images/fullres/tidal_big.webp}"
                                data-toggle="tooltip" data-placement="top" th:title="#{openInTidal}">
                        </a>
                    </th:block>
                    <th:block th:if="${songSubgroup.soundcloudLink != null}">
                        <a class="a-external-music-link soundcloud-link" th:href="${songSubgroup.soundcloudLink}">
                            <img class="img-responsive-row-icon" th:src="@{/images/fullres/soundcloud_big.webp}"
                                data-toggle="tooltip" data-placement="top" th:title="#{openInSoundCloud}">
                        </a>
                    </th:block>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<th:block th:insert="~{fragments/playlistModal.html}"></th:block>
<th:block th:insert="~{fragments/ytVideoModal.html}"></th:block>
<th:block th:insert="~{fragments/songInfoModal.html}"></th:block>
<th:block th:insert="~{fragments/mobileAdditionalDisplay.html}"></th:block>
<script th:src="@{/js/genre.js}" type="application/javascript"></script>