<div class="offcanvas offcanvas-start" id="offcanvas" tabindex="-1" data-bs-keyboard="false" data-bs-backdrop="false">
    <div class="offcanvas-header">
        <h6 class="offcanvas-title d-sm-block" th:text="#{menu}"></h6>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body py-0 px-0">
        <div class="accordion" id="accordionExample">
            <input class="form-control mt-2 mb-3" id="filter_games_menu" maxlength="15" th:placeholder="#{filterGames}">
            <th:block th:each="serie: ${series}">
                <div class="accordion-item">
                    <h2 class="accordion-header" th:attr="id='heading-'+${serie.id}">
                        <button class="accordion-button collapsed gamegroup-button" type="button"
                            data-bs-toggle="collapse" aria-expanded="true" aria-controls="collapseOne"
                            th:attr="data-bs-target='#collapse-'+${serie.id},aria-controls='collapse-'+${serie.id}"
                            th:text="${serie.name}">
                        </button>
                    </h2>
                    <div class="accordion-collapse collapse list-group" th:attr="id='collapse-'+${serie.id}"
                        data-bs-parent="#accordionExample">
                        <ul class="btn-toggle-nav list-unstyled fw-normal mb-0 small serie_class">
                            <li th:each="game: ${serie.games}">
                                <a href="#" class="list-group-item list-group-item-action game_class"
                                    th:href="'/game/'+${game.gameShort}" th:attr="data-fullTitle=${game.displayTitle}" th:text="${game.gameTitle}"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</div>
<script th:src="@{/js/leftmenu.js}" type="application/javascript"></script>