<div class="dropdown-menu dropdown-menu-sm" id="mobile_context">
    <ul id="ul_actions_menu" class="actions_menu">
        <li id="mobileAddToPlaylist" class="dropdown-item single_action" th:text="#{addToPlaylist}"></li>
        <li id="mobileRemoveFromPlaylist" class="dropdown-item single_action" style="display: none;"
            th:text="#{removeFromPlaylist}"></li>
        <li id="mobileShowSongInfo" class="dropdown-item single_action" th:text="#{showInfo}"></li>
        <a id="mobileExternalYoutube" target="_blank" class="dropdown-item single_action"
            th:text="#{launchInYoutube}"></a>
        <a id="mobileLaunchSpotify" class="dropdown-item single_action" th:text="#{launchInSpotify}"></a>
        <li id="playSpotifySample" class="dropdown-item single_action" th:text="#{playSample}"></li>
        <a id="mobileLaunchItunes" class="dropdown-item single_action" th:text="#{openITunes}"></a>
        <a id="mobileLaunchDeezer" class="dropdown-item single_action" th:text="#{launchInDeezer}"></a>
        <a id="mobileLaunchTidal" class="dropdown-item single_action" th:text="#{openInTidal}"></a>
        <a id="mobileLaunchSoundCloud" class="dropdown-item single_action" th:text="#{openInSoundCloud}"></a>
        <a id="reportProblemMobile" class="dropdown-item single_action" th:text="#{problem}"></a>
        <a id="newDisqusLinkToOpen" class="dropdown-item single_action" style="display: none;"
            th:text="#{reportProblemDisqus}"></a>
    </ul>
</div>