<div class="dropdown-menu dropdown-menu-sm" id="mobile_context">
    <ul id="ul_actions_menu" class="actions_menu">
        <li id="mobileAddToPlaylist" class="dropdown-item single_action" th:text="#{addToPlaylist}"></li>
        <li id="mobileRemoveFromPlaylist" class="dropdown-item single_action" style="display: none;" th:text="#{removeFromPlaylist}"></li>
        <li id="mobileShowSongInfo" class="dropdown-item single_action" th:text="#{showInfo}"></li>
        <a id="mobileExternalYoutube" target="_blank" class="dropdown-item single_action" th:text="#{launchInYoutube}"></a>
        <a id="mobileLaunchSpotify" class="dropdown-item single_action" th:text="#{launchInSpotify}"></a>
        <a id="mobileLaunchItunes" class="dropdown-item single_action" th:text="#{openITunes}"></a>
        <a id="mobileLaunchDeezer" class="dropdown-item single_action" th:text="#{launchInDeezer}"></a>
        <!--<a id="newDisqusLinkToOpen" class="dropdown-item single_action" style="display: none;" data-bs-toggle="modal" data-bs-target="#disqusModal" th:text="#{reportProblemDisqus}"></a>-->
    </ul>
</div>