<div class="modal fade" id="playlistModeModal" role="dialog" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 th:text="#{playlistMode}"></h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div id="playlistModePlayer" class="ratio ratio-16x9">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <table class="table table-bordered table-hover table-sm" id="playlist_progress"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>