<div class="modal fade" id="reportProblemModal" role="dialog" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 th:text="#{problem}"></h3>
                <button type="button" class="btn-close" data-bs-theme="light" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input id="affected-songsubgroup" type="hidden">
                <input id="source-url" type="hidden">
                <div class="row">
                    <div class="col-md-6">
                        <label for="problem-type" th:text="#{problemType}"></label>
                    </div>
                </div>
                <div class="col">
                    <select class="form-select" id="problem-type" aria-label="Type of problem">
                        <optgroup th:label="#{songCorrection}">
                            <option selected value="WRONG_YOUTUBE_LINK" th:text="#{wrongYoutube}"></option>
                            <option value="WRONG_MUSIC_LINK" th:text="#{wrongMusicLink}"></option>
                            <option value="WRONG_FLAG" th:text="#{wrongFlag}"></option>
                            <option value="WRONG_GENRE" th:text="#{wrongGenre}"></option>
                            <option value="WRONG_LYRICS" th:text="#{wrongLyrics}"></option>
                            <option value="WRONG_ADDITIONAL_INFO" th:text="#{wrongInfo}"></option>
                        </optgroup>
                        <optgroup th:label="#{websiteCorrection}">
                            <option value="WRONG_GROUPS" th:text="#{wrongGroups}"></option>
                            <option value="DISPLAY_ISSUES" th:text="#{wrongDisplay}"></option>
                            <option value="OTHER_PROBLEM" th:text="#{wrongOther}"></option>
                            <option value="WRONG_ARTIST_INFO" th:text="#{wrongArtistInfo}"></option>
                        </optgroup>
                    </select>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="right-value" th:text="#{correctValue}"></label>
                    </div>
                </div>
                <div class="col">
                    <textarea class="form-control" type="text" id="right-value"></textarea>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <label for="discord-username" th:text="#{discordId}"></label>
                    </div>
                </div>
                <div class="col">
                    <input class="form-control w-50" type="text" id="discord-username">
                </div>
                <div class="col" style="text-align: center;">
                    <button type="button" class="btn btn-success m-2" id="submit-correction"
                        aria-label="Submit correction" th:text="#{submitCorrection}"></button>
                </div>
                <div class="alert alert-success" id="success-alert" style="display: none;"><strong
                        th:text="#{success}"></strong></div>
                <div class="alert alert-danger" id="failure-alert" style="display: none;"><strong
                        th:text="#{failure}"></strong></div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/reportProblemModal.js}" type="application/javascript"></script>