<div class="modal fade" id="infoSongModal" role="dialog" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <a href="" id="getAllUsages" class="btn btn-outline-info"
                    th:text="#{songUsages}"></a>
                <button type="button" class="btn-close" data-bs-theme="light" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <span id="officialArtist"><b th:text="#{officialArtist}+': '"></b></span>
                    </div>
                    <div class="col-md-6">
                        <span id="officialTitle"><b th:text="#{officialTitle}+': '"></b></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <span id="composers"><b th:text="#{composers}+': '"></b></span><br>
                    </div>
                    <div class="col-md-6">
                        <span id="externalLinks"><b th:text="#{streamFrom}+': '"></b></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <span id="subcomposers"><b th:text="#{subcomposers}+': '"></b></span>
                    </div>
                    <div class="col-md-6">
                        <span id="additionalInfo"><b th:text="#{additionalInfo}+': '"></b></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <span id="remixers"><b th:text="#{remixedBy}+': '"></b></span>
                    </div>
                    <div class="col-md-6">
                        <span id="filename"><b th:text="#{filename}+': '"></b></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <span id="featArtists"><b th:text="#{featuring}+': '"></b></span>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div id="baseSongDiv" class="col-md-12" style="display: none;">
                        <span id="baseSong"><b th:text="#{thisIsRemix}"></b></span>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/songInfoModal.js}" type="application/javascript"></script>