<th:block th:if="${home}">
    <div class="centerKeeper">
        <span th:text="#{welcomeMessage}"></span>
        <br><br>
        <span th:text="#{otherMusicPlatforms}"></span>
        <br>
        [(${htmlToInject})]
        <a class="table_link" href="#Disqus" data-bs-toggle="modal" data-bs-target="#disqusModal" id="newDisqusLink"
            th:text="#{shareOpinions}"></a> or
        <a class="table_link" href="#Disqus" data-bs-toggle="modal" data-bs-target="#disqusModal" id="disqusLink"
            th:text="#{oldComments}"></a>
        <br>
        <br>
        <b>
            <h5 th:text="#{todaySong}"></h5>
        </b>
        <th:block th:each="authorSong,iter : ${todayssong.songSubgroup.song.authorSongList.?[role.value=='COMPOSER']}">
            <a class="table_link" th:href="'/author/'+${authorSong.authorAlias.author.id}"
                th:text="${todayssong.songSubgroup.ingameDisplayBand!=null} ? ${todayssong.songSubgroup.ingameDisplayBand} : ${authorSong.authorAlias.alias} "></a>
        </th:block>
        <th:block
            th:each="authorSong,iter : ${todayssong.songSubgroup.song.authorSongList.?[role.value=='SUBCOMPOSER']}">
            <span th:text="${authorSong.subcomposerConcat!=null} ? ${authorSong.subcomposerConcat} : ''"></span>
            <a class="table_link" th:href="'/author/'+${authorSong.authorAlias.author.id}"
                th:text="${authorSong.authorAlias.alias}"></a>
        </th:block>
        -
        <span
            th:text="${todayssong.songSubgroup.ingameDisplayTitle!=null} ? ${todayssong.songSubgroup.ingameDisplayTitle} : ${todayssong.songSubgroup.song.officialDisplayTitle} "></span>
        <th:block th:if="${todayssong.songSubgroup.showFeat}">
            <th:block th:each="authorSong,iter : ${todayssong.songSubgroup.song.authorSongList.?[role.value=='FEAT']}">
                <span th:text="${iter.first ? '(feat. ' : ''}"></span>
                <a class="table_link" th:href="'/author/'+${authorSong.authorAlias.author.id}"
                    th:text="${authorSong.authorAlias.alias}"></a><span th:text="${iter.last ? ')' : ''}"></span>
                <th:block th:if="${authorSong.featConcat!=null}">
                    <span th:text="${!iter.last ? authorSong.featConcat : ''}"></span>
                </th:block>
            </th:block>
        </th:block>
        <th:block th:if="${todayssong.songSubgroup.remix.value=='YES'}">
            <th:block th:each="authorSong,iter : ${todayssong.songSubgroup.song.authorSongList.?[role.value=='REMIX']}">
                <span th:text="${iter.first ? '(' : ''}"></span><a class="table_link"
                    th:href="'/author/'+${authorSong.authorAlias.author.id}"
                    th:text="${authorSong.authorAlias.alias}"></a>
                <span th:text="${authorSong.remixConcat!=null} ? ${authorSong.remixConcat} : ''"></span>
                <span th:text="${iter.last ? songSubgroup.remixText : ''}"></span>
            </th:block>
        </th:block>
        <br>
        <iframe class="home_frame"
            th:src="'https://www.youtube.com/embed/'+${todayssong.songSubgroup.srcId}+'?modestbranding=1&amp;showinfo=0'"
            id="video" allow="autoplay;" allowscriptaccess="always" allowfullscreen></iframe>
        <br>
        <th:block>
            <a class="table_link" th:href="'/songhistory'" th:text="#{archiveSongs}"></a>
        </th:block>
        </a>
    </div>
    <div class="modal fade" id="disqusModal" role="dialog" data-bs-keyboard="false" tabindex="-1" aria-hidden="true"
        th:attr="data-disqusLink='https://nfssoundtrack.com/'">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-theme="light" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="disqus_thread"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
<th:block th:if="not ${home}">
    [(${htmlToInject})]
</th:block>