<nav id="topNavbar" class="navbar navbar-expand-xxl navbar-light bg-light">
    <div class="collapse navbar-collapse d-flex" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto d-inline ml-2">
            <button class="btn nfs-top-item d-inline p-1" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"
                role="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="7vw" height="7vw" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16" style="display: none;">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                  </svg>
                <span id="offcanvasSpan" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" th:text="#{menu}">
                </span>
            </button>
            <li class="btn nav-item nfs-top-item d-inline-block p-1">
                <a class="nav-link d-inline p-1" id="nfs-top-home" th:href="@{/content/home}" th:text="#{home}"></a>
            </li>
            <li class="btn nav-item nfs-top-item d-inline-block p-1">
                <a class="nav-link d-inline p-1" id="nfs-top-aboutus" th:href="@{/content/aboutus}"
                    th:text="#{about}"></a>
            </li>
            <li class="btn nav-item nfs-top-item d-inline-block p-1">
                <a class="nav-link d-inline p-1" id="nfs-top-donate" th:href="@{/content/donate}"
                    th:text="#{donate}"></a>
            </li>
            <li class="btn nav-item nfs-top-item d-inline-block p-1">
                <a class="nav-link d-inline p-1" th:href="@{/content/cookies}" th:text="#{privacy}"></a>
            </li>
            <li class="btn nav-item d-inline-block p-1">
                <div class="pl-2 pt-2 d-inline">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <a class="nav-link d-inline p-1" id="nightModeSwitch" href="#" th:text="#{night}"></a>
                </div>
            </li>
            <li class="btn nav-item nfs-top-item d-inline-block p-1">
                <a class="nav-link d-inline p-1 preferences" href="#" data-bs-toggle="modal"
                    data-bs-target="#preferencesModal" th:text="#{preferences}"></a>
            </li>
            <th:block sec:authorize="isAuthenticated()">
                <li class="btn nav-item nfs-top-item d-inline-block p-1">
                    <a class="nav-link d-inline p-1" th:href="@{/manage/manage}">Manage</a>
                </li>
                <li class="btn nav-item nfs-top-item d-inline-block p-1">
                    <a class="nav-link d-inline p-1" th:href="@{/logout}" href="#">Sign out</a>
                </li>
            </th:block>
            <li class="btn nav-item nfs-top-item d-inline-block p-1">
                <form th:action="@{/custom/playlist}" method="post" class="d-inline p-1">
                    <input class="form-control" id="playlistContent" type="hidden" name="customPlaylist">
                    <button id="customPlaylistSubmit" type="submit" class="nav-link d-inline-block p-1"
                        th:text="#{customPlaylist}"></button>
                </form>
            </li>
            <li class="btn nav-item nfs-top-item d-inline-block p-1">
                <a class="nav-link d-inline p-1" href="#" th:text="#{problem}" data-toggle="tooltip"
                    data-placement="top" title="Work in progress"></a>
            </li>
            <li class="btn d-inline-block p-1">
                <form id="topsearch" th:action="@{/search/basic}" method="get" class="d-inline p-1">
                    <input class="form-control me-2 d-inline" name="searchData" id="searchStuff" type="search"
                        th:attr="data-tooltip=#{searchTooltip}" th:placeholder="#{search}"><button
                        class="btn btn-outline-success nav-item nfs-top-item" type="submit"
                        th:text="#{searchButton}"></button>
                </form>
            </li>
            <li class="btn nav-item nfs-top-item d-inline-block p-1">
                <a class="nav-link d-inline p-1" id="nfs-top-donate" href="https://racingsoundtracks.com:445/"
                    th:text="#{oldWebsite}"></a>
            </li>
        </ul>
    </div>
</nav>
<script>
    changeStuffForDarkMode();
    $("#flexSwitchCheckDefault").prop("checked", localStorage.getItem("dark-mode") == "true");
</script>
<div class="modal fade" id="preferencesModal" role="dialog" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 th:text="#{preferences}"></h3>
                <button type="button" class="btn-close" data-bs-theme="light" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <label for="lang-select" th:text="#{selectLang}"></label>
                    </div>
                    <div class="col-md-6">
                        <select class="form-select" id="lang-select" aria-label="Set language">
                            <option selected value="en" th:text="#{english}"></option>
                            <option value="jp" th:text="#{japanese}"></option>
                            <option value="ar" th:text="#{arabic}"></option>
                            <option value="es" th:text="#{spanish}"></option>
                            <option value="ru" th:text="#{russian}"></option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="scrolling-stuff" th:text="#{disableScrolling}"></label>
                    </div>
                    <div class="col-md-6">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="scrolling-stuff">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="video-rendering-stuff" th:text="#{renderStuff}"></label>
                    </div>
                    <div class="col-md-6">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="video-rendering-stuff" checked>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="expandable-width" th:text="#{menuWidth}"></label>
                    </div>
                    <div class="col-md-6">
                        <select class="form-select" id="expandable-width">
                            <option selected value="25">25%</option>
                            <option value="50">50%</option>
                            <option value="75">75%</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="static-leftmenu" th:text="#{staticLeftMenu}"></label>
                    </div>
                    <div class="col-md-6">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="static-leftmenu">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="icons-size" th:text="#{rowIconsSize}"></label>
                    </div>
                    <div class="col-md-6">
                        <select class="form-select" id="icons-size">
                            <option value="1.5">50%</option>
                            <option value="1.75">75%</option>
                            <option selected value="2">100%</option>
                            <option value="2.25">125%</option>
                            <option value="2.5">150%</option>
                        </select>
                    </div>
                </div>
                <div class="row p-3">
                    <button type="button" class="btn btn-success" id="save-preferences" data-bs-dismiss="modal"
                        aria-label="Save preferences" th:text="#{savePreferences}"></button>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/topmenu.js}" type="application/javascript"></script>