<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<nav class="navbar navbar-expand-xxl navbar-light bg-light">
    <div class="collapse navbar-collapse d-flex" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto d-inline ml-2">
            <button class="btn nfs-top-item d-inline p-1" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"
                role="button">
                <span data-bs-toggle="offcanvas" data-bs-target="#offcanvas">Menu</span>
            </button>
            <li class="btn nav-item nfs-top-item d-inline p-1">
                <a class="nav-link d-inline p-1" id="nfs-top-home" th:href="@{/content/home}">Home</a>
            </li>
            <li class="btn nav-item nfs-top-item d-inline p-1">
                <a class="nav-link d-inline p-1" id="nfs-top-aboutus" th:href="@{/content/aboutus}">About us</a>
            </li>
            <li class="btn nav-item nfs-top-item d-inline p-1">
                <a class="nav-link d-inline p-1" id="nfs-top-donate" th:href="@{/content/donate}">Donate</a>
            </li>
            <li class="btn nav-item nfs-top-item d-inline p-1">
                <a class="nav-link d-inline p-1" th:href="@{/content/cookies}">Privacy Policy</a>
            </li>
            <li class="btn nav-item d-inline p-1">
                <div class="pl-2 pt-2 d-inline">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label nfs-top-item d-inline" for="flexSwitchCheckDefault">Night
                        mode</label>
                </div>
            </li>
            <li class="btn nav-item nfs-top-item d-inline p-1">
                <a class="nav-link d-inline p-1" href="#">Advanced search</a>
            </li>
            <li class="btn nav-item nfs-top-item d-inline p-1">
                <a class="nav-link d-inline p-1" href="#">Preferences</a>
            </li>
            <th:block sec:authorize="isAuthenticated()">
                <li class="btn nav-item nfs-top-item d-inline p-1">
                    <a class="nav-link d-inline p-1" th:href="@{/manage}">Manage</a>
                </li>
                <li class="btn nav-item nfs-top-item d-inline p-1">
                    <a class="nav-link d-inline p-1 disabled" th:href="@{/logout}" href="#">Sign out</a>
                </li>
            </th:block>
            <li class="btn nav-item nfs-top-item d-inline p-1">
                <a class="nav-link d-inline p-1" href="#">Report problem</a>
            </li>
            <li class="btn d-inline p-1">
                <form th:action="@{/search/basic}" method="get" class="d-inline p-1">
                    <input class="form-control me-2 d-inline" name="searchData" id="searchStuff" type="search" placeholder="Search" aria-label="Search"></input>
                    <button class="btn btn-outline-success nav-item nfs-top-item" type="submit">Search</button>
                </form>
            </li>
        </ul>
    </div>
</nav>

</html>