.modal-open {
    overflow: inherit;
}
.img-responsive{
    max-height: 88px;
}
.nfs-top-item-active{
    background-color: #d1e2ff;
}
.nfs-top-item:hover {
    background-color: #d1e2ff;
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: 0.1875rem 0.5rem;
  margin-top: 0.125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}

.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: 0.5em 50%;
  display: inline-block;
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: 0.1875rem 0.5rem;
  margin-top: 0rem;
  margin-left: 0rem;
}

.play_hover {
    display: none;
}
.play_icondiv:hover .play_hover {
    display: block;
}
.play_icondiv:hover .play_nonhover {
    display: none;
}