/*.modal-open {
  overflow: inherit;
}
*/
.img-responsive {
  max-height: 88px;
}

.nfs-top-item-active {
  background-color: #d1e2ff;
}

.nfs-top-item:hover {
  background-color: #d1e2ff;
}

html[data-bs-theme="dark"] .nfs-top-item:hover {
  background-color: #313962;
}

html[data-bs-theme="dark"] .nfs-top-item-active {
  background-color: #313962;
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: 0.1875rem 0.5rem;
  margin-top: 0.125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}

.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: 0.5em 50%;
  display: inline-block;
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: 0.1875rem 0.5rem;
  margin-top: 0rem;
  margin-left: 0rem;
}

.play_hover {
  display: none;
}

.play_icondiv:hover .play_hover {
  display: block;
}

.play_icondiv:hover .play_nonhover {
  display: none;
}

input.form-control {
  width: auto;
}

td.display-text {
  font-size: 0;
}

.play_icon:hover {
  cursor: pointer;
}

.note_button {
  cursor: pointer;
}

html[data-bs-theme="dark"] tr.subgroup-separator:nth-of-type(even) {
  --bs-table-bg: #313962;
  --bs-table-color: #fff;
  --bs-table-hover-bg: #3B4787;
  --bs-table-hover-color: #fff;
}

html[data-bs-theme="dark"] tr.subgroup-separator:nth-of-type(odd) {
  --bs-table-striped-bg: #39426F;
  --bs-table-striped-color: #fff;
  --bs-table-hover-bg: #3B4787;
  --bs-table-hover-color: #fff;
}


.my_padding {
  background: #d1e2ff;
}

#filter_songs {
  border-bottom: 1px solid #8ba2b5;
}

.table_link {
  text-decoration: none;
}

.ui-autocomplete {
  max-height: 100px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}

.ui-autocomplete>li>div {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}

.ui-state-hover,
.ui-state-active,
.ui-state-focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
  cursor: pointer;
}

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.scrollable-child {
  overflow-y: auto;
}

body #playlist_progress tr.current {
  background: #fbffc0 !important;
}

body #playlist_progress tr.disabled {
  opacity: 0.35;
}

td.playlist_row>a.table_link {
  background-color: transparent;
  text-decoration: none;
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
}

html[data-bs-theme="dark"] body #playlist_progress tr.current {
  background: #504E1E !important;
}

html[data-bs-theme="dark"] #filter_songs {
  border-bottom: 1px solid #8ba2b5;
  background-color: #39426F;
  color: #fff;
}
td.playlist_play_it {
  cursor: pointer;
}

td.playlist_disable_song {
  cursor: pointer;
}

#genreTable thead tr th:after {
	position: relative;
	right: -3px;
}

#genreTable thead tr th.sort-asc:after {
	content: "\25b4";
}

#genreTable thead tr th.sort-desc:after {
	content: "\25be";
}

#customPlaylistStuff thead tr th:after {
	position: relative;
	right: -3px;
}

#customPlaylistStuff thead tr th.sort-asc:after {
	content: "\25b4";
}

#customPlaylistStuff thead tr th.sort-desc:after {
	content: "\25be";
}

#songTable thead tr th:after {
	position: relative;
	right: -3px;
}

#songTable thead tr th.sort-asc:after {
	content: "\25b4";
}

#songTable thead tr th.sort-desc:after {
	content: "\25be";
}

#nightModeSwitch{
  text-decoration: none;
}

.error-container{
  position:fixed;
  bottom:0;
  right:20px;
  display: none;
}
.success-container{
  position:fixed;
  bottom:0;
  right:20px;
  display: none;
}
:root {
color-scheme: unset;
}

img.info-about-song {
  cursor: pointer;
}

img.add-to-custom-playlist {
  cursor: pointer;
}