img.img-responsive-global-logo {
  max-height: 5vw;
  margin: 0.1vw;
  padding: 0.2vw;
}

img.img-responsive-website-logo {
  max-height: 5vw;
  margin: 0.1vw;
}

img.img-responsive-song-info {
  max-height: 3vw;
  margin: 0.05vw;
  text-decoration: none;
}

img.img-responsive-row-icon {
  max-height: 2vw;
  margin: 0.05vw;
}

svg.img-responsive-row-icon {
  max-height: 2vw;
  margin: 0.05vw;
}

img.img-main-icon {
  max-height: 6vw;
  margin: 0.35vw;
}

img.img-responsive-playlist-modal-icon {
  max-height: 2vw;
  margin: 0.05vw;
  text-decoration: none;
  background-color: transparent;
}

img.img-responsive-author-info {
  max-height: 3vw;
  margin: 0.05vw;
}

.playlist-icon {
  max-height: 3.5vw;
  margin: 0.15vw;
}

img.img-country {
  max-height: 3vw;
}

.a-external-music-link {
  text-decoration: none;
}

a.a-main-music-link {
  text-decoration: none;
}

.nav-item {
  color: #00334e;
}

.nav-link {
  color: #00334e;
}

.nfs-top-item-active {
  background-color: #d1e2ff;
}

.nfs-top-item:hover {
  background-color: #d1e2ff;
}

html[data-bs-theme="dark"] .nfs-top-item:hover {
  background-color: #313962;
}

html[data-bs-theme="dark"] .nfs-top-item-active {
  background-color: #313962;
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: 0.1875rem 0.5rem;
  margin-top: 0.125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}

.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: 0.5em 50%;
  display: inline-block;
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: 0.1875rem 0.5rem;
  margin-top: 0rem;
  margin-left: 0rem;
}

input.form-control {
  width: auto;
}

html[data-bs-theme="dark"] tr.subgroup-separator:nth-of-type(even) {
  --bs-table-bg: #313962;
  --bs-table-color: #fff;
  --bs-table-hover-bg: #3B4787;
  --bs-table-hover-color: #fff;
}

html[data-bs-theme="dark"] tr.subgroup-separator:nth-of-type(odd) {
  --bs-table-striped-bg: #39426F;
  --bs-table-striped-color: #fff;
  --bs-table-hover-bg: #3B4787;
  --bs-table-hover-color: #fff;
}

html[data-bs-theme="dark"] tr.rolegroup-separator:nth-of-type(even) {
  --bs-table-bg: #004319;
  --bs-table-color: #fff;
  --bs-table-hover-bg: #205319;
  --bs-table-hover-color: #fff;
}

html[data-bs-theme="dark"] tr.rolegroup-separator:nth-of-type(odd) {
  --bs-table-striped-bg: #005319;
  --bs-table-striped-color: #fff;
  --bs-table-hover-bg: #205319;
  --bs-table-hover-color: #fff;
}

html tr.rolegroup-separator:nth-of-type(even) {
  --bs-table-bg: #CAF5DA;
  --bs-table-color: #000;
  --bs-table-hover-bg: #8DE9AF;
  --bs-table-hover-color: #000;
}

html tr.rolegroup-separator:nth-of-type(odd) {
  --bs-table-striped-bg: #B3E6C6;
  --bs-table-striped-color: #000;
  --bs-table-hover-bg: #8DE9AF;
  --bs-table-hover-color: #000;
}

#filter_songs {
  border-bottom: 0.15vw solid #8ba2b5;
  width: 100%;
}

a.table_link {
  text-decoration: none;
}

body #playlist_progress tr.current {
  background: #fbffc0 !important;
}

body #playlist_progress tr.disabled {
  opacity: 0.35;
}

td.playlist_row>a.table_link {
  background-color: transparent;
  text-decoration: none;
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
}

html[data-bs-theme="dark"] body #playlist_progress tr.current {
  background: #504E1E !important;
}

html[data-bs-theme="dark"] #filter_songs {
  border-bottom: 1px solid #8ba2b5;
  background-color: #39426F;
  color: #fff;
}

table.sortable-table thead tr th:after {
  position: relative;
  right: -0.25vw;
}

table.sortable-table thead tr th.sort-asc:after {
  content: "\25b4";
}

table.sortable-table thead tr th.sort-desc:after {
  content: "\25be";
}

#nightModeSwitch {
  text-decoration: none;
}

div.info-container {
  position: fixed;
  bottom: 0;
  right: 2vw;
  display: none;
}

:root {
  color-scheme: unset;
}

img.pointable {
  cursor: pointer;
}

svg.pointable {
  cursor: pointer;
}

span.pointable {
  cursor: pointer;
}

#offcanvas {
  width: 25%;
}

#playlistModePlayer {
  height: 75vh;
}

tr.songgroup {
  text-align: center;
  font-weight: bold;
}

tr.rolegroup-separator {
  text-align: center;
  font-weight: bold;
}

#subgroupsDropdown {
  white-space: normal;
}

a.preferences {
  background-color: #ECEEC7;
}

html[data-bs-theme="dark"] .preferences {
  background-color: #4A4F03;
}

#lyrics_main {
  width: 64%;
  float: right;
  overflow: auto;
  height: 20vw;
}

#ytrow {
  width: 32%;
  height: 20vw;
}

div.ratio {
  height: 75vh;
}

iframe.externalIframe {
  height: 75vh;
}


#topsearch {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

#filter_games_menu {
  width: 100%;
}

#filter_games_menu_pinned {
  width: 100%;
}

footer div {
  width: 98.5%;
  margin: 0vw auto;
  padding: 1vw;
}

html[data-bs-theme="dark"] #topNavbar {
  background-color: #262424;
}

html[data-bs-theme="dark"] a.game_class {
  display: block;
  background: #212121;
  color: #a3cbff;
}

html[data-bs-theme="dark"] a.game_class:hover {
  background-color: #3e3e3e;
}

html[data-bs-theme="dark"] .nav-item {
  color: #a3cbff;
}

html[data-bs-theme="dark"] .nav-link {
  color: #a3cbff;
}

#navbarSupportedContent {
  background-color: lavender;
}

html[data-bs-theme="dark"] #navbarSupportedContent {
  background-color: #202166;
}

.gamegroup-button {
  color: #00334e;
  background-color: aliceblue;
}

html[data-bs-theme="dark"] .gamegroup-button {
  color: #a3cbff;
  background-color: #171e4d;
}

td.info_button {
  min-width: 6vw;
}

td.actions {
  width: 11vw;
}

div.context_menu_hide {
  display: none;
}

iframe.home_frame {
  width: 35vw;
  height: 20vw;
}

iframe.left_menu_frame {
  width: 17vw;
  height: 17vw;
}

div.centerKeeper {
  text-align: center;
}

img.partners {
  max-width: 20vw;
}

a.game_class {
  display: block;
  color: #00334e;
}

a.game_class:hover {
  background-color: #d2dee7;
}

a.gamegroup.active {
  border-width: 2px !important;
  border-bottom: 0 !important;
  border-color: rgba(var(--bs-secondary-rgb)) !important;
}

button.subgroup.active {
  border-width: 2px !important;
  border-bottom: 0 !important;
  border-color: rgba(var(--bs-info-rgb)) !important;
}

#listen-music-id {
  display: table-cell;
  width: 80px;
}

svg.bi-box-arrow-up-right {
  width: 0.6vw;
  height: 0.6vw;
  vertical-align: top;
}

#lyrics {
  height: 300px;
}

div.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

svg.bi-moon {
  width: 2vw;
  height: 2vw;
}

svg.bi-sun {
  width: 2vw;
  height: 2vw;
}

svg.bi-palette {
  width: 2vw;
  height: 2vw;
}

svg.bi-sort-alpha-down {
  width: 2vw;
  height: 2vw;
}

#warnUser {
  font-size: 1vw;
  color: red;
  margin-bottom: 0px;
  text-align: center;
  z-index: 1;
}

div.logoSubDiv {
  z-index: 2;
}

#socialButtons {
  z-index: 3;
}

.dropdown-menu {
  --bs-dropdown-min-width: fit-content;
}

.dropdown-divider {
  margin: 0px;
}

a.nonBlue {
  color: var(--bs-body-color);
}

button.playlist-close {
  margin-left: 0px;
}

.form-check-input[type="checkbox"] {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 0, 255, 0.35)
}

header.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

#topNavbar {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media screen and (max-width: 600px) {

  img.img-responsive-website-logo {
    max-width: 60vw;
    margin: 0.3vw;
    max-height: 9vw;
  }

  img.img-responsive-global-logo {
    max-height: 8vw;
    margin: 0.3vw;
  }

  img.img-responsive-song-info {
    max-height: 8vw;
    margin: 0.2vw;
    text-decoration: none;
  }

  img.img-responsive-author-info {
    max-height: 6vw;
    margin: 0.15vw;
  }

  img.img-responsive-row-icon {
    max-height: 6vw;
    margin: 0.25vw;
  }

  img.img-responsive-playlist-modal-icon {
    max-height: 6vw;
    margin: 0.25vw;
    text-decoration: none;
    background-color: transparent;
  }

  #filter_songs {
    border-bottom: 0.5vw solid #8ba2b5;
    width: 100%;
  }

  #filter_games_menu {
    width: 100%;
  }

  #filter_games_menu_pinned {
    width: 100%;
  }

  table.playlist_table {
    table-layout: fixed;
    font-size: 3vw;
  }


  #artistStuff {
    table-layout: fixed;
    font-size: 3vw;
  }

  .country-img {
    width: 5.4vw;
    height: 3vw;
  }

  .nav-link {
    font-size: 3vw;
  }

  .nfs-top-item {
    font-size: 3vw;
  }

  #searchStuff {
    font-size: 3vw;
  }

  #searchStuff::placeholder {
    font-size: 0.75rem;
  }

  #filter_songs {
    font-size: 2.5vw;
  }

  #filter_games_menu {
    font-size: 2.5vw;
    width: 100%;
  }

  #filter_games_menu_pinned {
    font-size: 2.5vw;
    width: 100%;
  }

  #socialButtons {
    margin: auto;
  }

  .tooltip {
    font-size: 2.5vw;
  }

  #game_stuff col.contextButton {
    width: 10%;
  }

  #game_stuff col.band {
    width: 25%;
  }

  #game_stuff col.songtitle {
    width: 25%;
  }

  #game_stuff col.genre {
    width: 20%;
  }

  #game_stuff col.actions {
    width: 10%;
  }

  #game_stuff col.infowarn {
    width: 10%;
  }


  #game_stuff col.countries {
    display: none;
  }

  #game_stuff th.countries {
    display: none;
  }

  #game_stuff td.countries {
    display: none;
  }

  #genreTable col.contextButton {
    width: 7%;
  }

  #genreTable col.genre-id {
    width: 5%;
  }

  #genreTable col.genre-info_button {
    display: none;
  }

  #genreTable col.genre-actions {
    width: 10%;
  }

  #genreTable col.genre-group {
    display: none;
  }

  #genreTable th.genre-group {
    display: none;
  }

  #genreTable td.genre-group {
    display: none;
  }

  #archiveSongsTable col.contextButton {
    width: 7%;
  }

  #archiveSongsTable col.archiveSongs-info_button {
    display: none;
  }

  #archiveSongsTable col.archiveSongs-actions {
    width: 10%;
  }


  #songTable col.contextButton {
    width: 7%;
  }

  #songTable col.song-id {
    width: 6%;
  }

  #songTable col.song-actions {
    width: 10%;
  }

  #artistStuff col.artist-group {
    display: none;
  }

  #artistStuff th.artist-group {
    display: none;
  }

  #artistStuff td.artist-group {
    display: none;
  }

  #artistStuff col.contextButton {
    display: none;
  }

  #artistStuff col.artist-info_button {
    width: 7%;
  }

  #artistStuff col.artist-subgroup {
    width: 23%;
  }

  #artistStuff col.artist-game {
    width: 30%;
  }

  #artistStuff col.artist-remix {
    width: 20%;
  }

  #artistStuff col.artist-instrumental {
    width: 10%;
  }

  #artistStuff col.artist-actions {
    width: 10%;
  }

  #customPlaylistStuff col.contextButton {
    width: 7%;
  }

  #customPlaylistStuff col.playlist-id {
    width: 6%;
  }

  #customPlaylistStuff col.playlist-info_button {
    display: none;
  }

  #customPlaylistStuff col.playlist-actions {
    width: 10%;
  }

  #customPlaylistStuff col.playlist-countries {
    display: none;
  }

  #customPlaylistStuff th.playlist-countries {
    display: none;
  }

  #customPlaylistStuff td.playlist-countries {
    display: none;
  }

  #searchSongLyricsTable col.contextButton {
    width: 7%;
  }

  #searchSongLyricsTable col.search-info_button {
    display: none;
  }

  #searchSongLyricsTable col.search-actions {
    width: 10%;
  }

  #searchSongLyricsTable th.info_button {
    display: none;
  }

  #searchSongLyricsTable td.info_button {
    display: none;
  }

  #searchSongTitlesTable col.contextButton {
    width: 7%;
  }

  #searchSongTitlesTable col.search-info_button {
    display: none;
  }

  #searchSongTitlesTable col.search-actions {
    width: 10%;
  }

  #searchSongTitlesTable th.info_button {
    display: none;
  }

  #searchSongTitlesTable td.info_button {
    display: none;
  }

  .game_content_th {
    text-align: center;
  }

  td {
    vertical-align: middle;
  }

  #offcanvas {
    width: 70%;
  }

  button.accordion-button {
    font-size: 3.5vw;
  }

  .list-group-item {
    font-size: 3vw;
  }

  #ytrow {
    width: 100%;
  }

  #playlistModePlayer {
    height: 40vh;
  }

  #briefInfo {
    font-size: 3vw;
  }

  #lyrics_main {
    width: 48%;
    float: right;
    overflow: auto;
    height: 40vw;
  }

  #playlistsDiv {
    text-align: center;
  }

  #ytrow {
    width: 48%;
    height: 40vw;
  }

  footer div {
    width: 90%;
    margin: 0vw auto;
    padding: 1vw;
    font-size: 2.5vw;
  }

  td.band {
    word-wrap: break-word;
  }

  td.songtitle {
    word-wrap: break-word;
  }

  td.info_button {
    min-width: 6vw;
  }

  td.actions {
    width: 12vw;
  }

  div.context_menu_show {
    z-index: 1000;
    position: absolute;
    display: block;
    list-style-type: none;
    list-style: none;
    border: 1px solid;
  }

  ul.actions_menu {
    margin-bottom: 0;
    padding-left: 0;
  }

  ul.navbar-nav {
    text-align: center;
  }

  .single_action {
    font-size: 3vw;
  }

  iframe.home_frame {
    height: 45vw;
    width: 60vw;
  }

  iframe.left_menu_frame {
    height: 30vw;
    width: 20vw;
  }

  img.img-main-icon {
    max-height: 12vw;
    margin: 0.35vw;
  }

  img.partners {
    max-width: 50vw;
  }

  div.modal-backdrop {
    z-index: 1010;
  }

  svg.bi-box-arrow-up-right {
    display: none;
  }

  .playlist-icon {
    max-height: 10vw;
    margin: 0.3vw;
  }

  svg.bi-moon {
    width: 5vw;
    height: 5vw;
  }

  svg.bi-sun {
    width: 5vw;
    height: 5vw;
  }

  svg.bi-palette {
    width: 5vw;
    height: 5vw;
  }

  svg.bi-sort-alpha-down {
    width: 7vw;
    height: 7vw;
  }

  #warnUser {
    font-size: 2.8vw;
  }
}

@media screen and (max-width: 400px) {

  img.img-responsive-global-logo {
    max-height: 6vw;
    margin: 0.3vw;
  }
}

/*
This is for JQuery Autocomplete stuff
*/
.ui-autocomplete {
  max-height: 100px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}

.ui-autocomplete>li>div {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}

.ui-state-hover,
.ui-state-active,
.ui-state-focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
  cursor: pointer;
}

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.scrollable-child {
  overflow-y: auto;
}