<!doctype html>
<html lang="en-us" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <th:block th:insert="~{fragments/analytics.html}"></th:block>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${appName}"></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        type="application/javascript"></script>
    <script th:src="@{/js/main.js}" type="application/javascript"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"
        type="text/css">
    <link rel="stylesheet" th:href="@{/css/own.css}" type="text/css">
    <link rel="shortcut icon" type="image/png" th:href="@{/images/racingsoundtracks.png}">
    <link rel="apple-touch-icon" type="image/png" th:href="@{/images/racingsoundtracks.png}">
</head>

<body>
    <script>
        //to make night mode run flawlessly it must be first in the body
        function changeStuffForDarkMode(darkMode) {

            if (localStorage.getItem("dark-mode") == "true" || darkMode) {
                $(document).find("html").attr("data-bs-theme", "dark");
                $(document).find("#topNavbar").addClass("navbar-dark");
                $(document).find("#topNavbar").addClass("bg-dark");
                $(document).find("#topNavbar").removeClass("navbar-light");
                $(document).find("#topNavbar").removeClass("bg-light");
                $(document).find("#logoDiv").addClass("bg-dark");
                $(document).find("#logoDiv").removeClass("bg-light");
                if (!darkMode) {
                    $(document).find("#sunlight").css("display", "none");
                }
            } else {
                $(document).find("html").attr("data-bs-theme", "light");
                $(document).find("#topNavbar").addClass("navbar-light");
                $(document).find("#topNavbar").addClass("bg-light");
                $(document).find("#topNavbar").removeClass("navbar-dark");
                $(document).find("#topNavbar").removeClass("bg-dark");
                $(document).find("#logoDiv").removeClass("bg-dark");
                $(document).find("#logoDiv").addClass("bg-light");
                $(document).find("#moonlight").css("display", "none");
            }
        }

        function changeStuffForDynamicTheme(json) {
            if (localStorage.hasOwnProperty("dynamic-bg") || json) {
                var theme;
                if (json) {
                    theme = json;
                } else {
                    var ooo = localStorage.getItem("dynamic-bg");
                    theme = JSON.parse(ooo);
                }
                changeStuffForDarkMode(theme.nightMode);
                if ('ontouchstart' in window) {
                    $("body").css("background", theme.mobileTheme);
                } else {
                    $("body").css("background", theme.pcTheme);
                }
                $("body").css("background-size", "cover");
                $("body").css("background-attachment", "fixed");
                $("#filter_songs").css("background", "transparent");
                $(".table").css("--bs-table-bg", "transparent");
                $(".table-primary").css("--bs-table-bg", "transparent");
                $(".table-primary").css("--bs-table-striped-bg", "transparent");
                $(".table a").css("color", theme.hyperlinkColor);
                $("#centerKeeper a").css("color", theme.hyperlinkColor);
                $("th").css("color", theme.textColor);
                $("h2").css("color", theme.textColor);
                $("span").css("color", theme.textColor);
                $(".nav-link").css("color", theme.hyperlinkColor);
                $("#navbarSupportedContent").css("background-color", "transparent");
                if ('ontouchstart' in window) {
                    $("header").removeClass("sticky-top");
                }
                $("#logoDiv").removeClass("bg-dark");
                $("#logoDiv").css("background-color", "transparent");
                $("#topNavbar").removeClass("bg-dark");
                $("#topNavbar").removeClass("navbar-dark");
                $("#topNavbar").css("background-color", "transparent");
                $(".gamegroup-button").css("background-color", theme.gameGroupBackgroundColor);
                $(".gamegroup-button").css("color", theme.gameGroupTextColor);
                $("a>span").css("color", theme.hyperlinkColor);
                $("#offcanvas").css("opacity", "95%");
                $(".offcanvas-header").css("opacity", "85%");
                $(".offcanvas-body").css("opacity", "70%");
                $("svg.top-svg").css("fill", theme.hyperlinkColor);
                $("#searchStuff").css("background-color", theme.hyperlinkColor + "40");
                $(".nav-link.active").css("background-color", theme.gameGroupBackgroundColor + "40");
                $("tr.subgroup-separator").css("--bs-table-hover-bg", theme.gameGroupBackgroundColor + "40");
            } else {
                $("body").css("background", "");
                $("body").css("background-size", "");
                $("body").css("background-attachment", "");
                $("#filter_songs").css("background", "");
                $(".table").css("--bs-table-bg", "var(--bs-body-bg)");
                $(".table-primary").css("--bs-table-bg", "");
                $(".table-primary").css("--bs-table-striped-bg", "");
                $(".table a").css("color", "");
                $("#centerKeeper a").css("color", "");
                $("th").css("color", "");
                $("h2").css("color", "");
                $("span").css("color", "");
                $("#logoDiv").css("background", "");
                $("#topNavbar").css("background", "");
                $("#navbarSupportedContent").css("background", "");
                if ('ontouchstart' in window) {
                    $("header").addClass("sticky-top");
                }
                $(".nav-link").css("color", "");
                $(".gamegroup-button").css("background-color", "");
                $(".gamegroup-button").css("color", "");
                $("a>span").css("color", "");
                $("#offcanvas").css("opacity", "");
                $(".offcanvas-header").css("opacity", "");
                $(".offcanvas-body").css("opacity", "");
                $("svg.top-svg").css("fill", "");
                $("#searchStuff").css("background-color", "");
                $(".nav-link.active").css("background-color", "var(--bs-nav-tabs-link-active-bg)");
                $("tr.subgroup-separator").css("--bs-table-hover-bg", "");
            }
        }
    </script>
    <header class="container-fluid">
        <div id="logoDiv" class="bg-light row mx-auto">
            <div class="col col-sm-8">
                <a href="https://racingsoundtracks.com">
                    <img class="img-responsive-website-logo" th:src="@{/images/racing_logo2.png}">
                </a>
            </div>
            <div id="socialButtons" class="col col-sm-4">
                <a href="https://discord.com/invite/FWMHvE5qCj">
                    <img class="img-responsive-global-logo float-end" th:src="@{/images/fullres/discord_big.png}">
                </a>
                <a href="https://www.facebook.com/NFSSoundtrack">
                    <img class="img-responsive-global-logo float-end" th:src="@{/images/fullres/facebook_big.png}">
                </a>
                <a href="https://twitter.com/nfssongs">
                    <img class="img-responsive-global-logo float-end" th:src="@{/images/fullres/twitter_big.png}">
                </a>
            </div>
                        <p id="warnUser" th:utext="#{warnUser}"></p>
        </div>
        <th:block th:insert="~{fragments/topmenu.html}"></th:block>
    </header>
    <div class="container-fluid">
        <div class="row mx-auto">
            <th:block th:insert="~{fragments/leftmenu.html}"></th:block>
            <div class="col">
                <div th:replace="~{fragments/topmenuentry.html}"></div>
                <div th:if="${gamegroups}" th:replace="~{fragments/gamecontent.html}"></div>
                <div th:if="${author}" th:insert="~{fragments/artist.html}"></div>
                <div th:if="${genre}" th:insert="~{fragments/genre.html}"></div>
                <div th:if="${search}" th:insert="~{fragments/search.html}"></div>
                <div th:if="${customPlaylist}" th:insert="~{fragments/customPlaylist.html}"></div>
                <div th:if="${songUsages}" th:insert="~{fragments/song.html}"></div>
                <div th:if="${todays30Songs}" th:insert="~{fragments/todayssong.html}"></div>
            </div>
            <th:block th:insert="~{fragments/changeLanguageModal.html}"></th:block>
            <th:block th:insert="~{fragments/reportProblemModal.html}"></th:block>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"
        type="application/javascript"></script>
    <!--<script src="http://localhost:35729/livereload.js" type="application/javascript"></script>-->
    <script src="https://www.youtube.com/player_api" type="application/javascript"></script>
<!--    <script src="https://open.spotify.com/embed/iframe-api/v1" async></script>-->
</body>
<footer>
    <div class="centerKeeper">
        <br>
        <b>
            <h5 th:text="#{ourPartners}"></h5>
        </b>
        <a class="table_link" href="https://nightriderz.world/" target="_blank">
            <img class="partners" th:src="@{/images/NFSSTBanner.png}" alt="NIGHTRIDERZ NFS World Server">
        </a>
        <br><br>
        <a class="table_link" href="https://www.youtube.com/channel/UCSars_35pUP8YxpOYt7Q_gw" target="_blank">
            <img class="partners" th:src="@{/images/loud_yt.png}" alt="LOUD YouTube Channel">
        </a>
    </div>
    <div class="centerKeeper">
        2012-2024
        <br>
        All trademarks, registered trademarks, product names, company names are the property of their respective owners.
    </div>
</footer>

</html>